
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="login-card">
    <h1>Register</h1><br>
    <form action="" method="post">
        <input type="text" name="userName" placeholder="Username">
        <input type="password" name="passWord" placeholder="Password">
        <input type="email" name="email" placeholder="email">
        <input type="submit" name="login" class="login login-submit" value="Register">
    </form>

</div>
}