

<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
    <body>
        <div style="background-color:#fefce8; height:260vh">
            <div style="background:#fff;background-color:#fff;margin:0 auto;max-width:1000px;height:256vh">
                <div style="width:98%; text-align: center ">
                <img src="cid:logoImage" style="width:30vw" />

                </div>

                <div style="width:96%;margin-left:1vw">
                    <hr>
                </div>
                <div style="width:98%;font-size:28px; text-align: center; font-family:Poppins ">
                    <span>Welcome to Anantya.ai </span>
                <img src="cid:aiImage" style="width:1.5vw; " />
                </div>
                <div style="width:70%;margin-left:10vw">
                    <hr>
                </div>

                <div style="font-family:Roboto ;">
                    <div style="text-align: center;font-size:20px; color:black;position:relative;top:1vw">
                        <span>Anantya.ai is the smartest WhatsApp engagement platform based on official</span><br>
                        <span style="top:0.5vw; position:relative">WhatsApp Business APIs. Anantya.ai is designed to revolutionize how businesses</span><br>
                        <span style="top:1vw; position:relative">interact with their customers on WhatsApp. </span><br>
                        <br>
                        <br>
                        <span style ="top:2vw; position:relative">
                            With our comprehensive suite of WhatsApp engagement tools, businesses can take</span><br>
                            <span style ="top:2vw; position:relative">
                                their customer communication to new heights. </span><br>
                    <img src="cid:panelImage" style="width:50vw; margin-top:1vh" />
                    </div>
                    <div style="text-align: center; font-family:Poppins ">
                        <h1>Incredible Platform <span style="color:red;"> Capabilities</span></h1>
                        <span style="text-align: center; font-family:Roboto;font-size:18px;position:relative;top:-2.5vh"><b>Everything you need to notify, chat & engage your users All in one place</b></span>
                    <img src="cid:featureImage" style="width:60vw; margin-top:4vh" />
                    </div>
                </div>
                <div style="text-align: center;font-size:20px;position:relative;top:8vh;font-family:Roboto ;">
                    <span>The most significant advantage of utilizing Anantya.ai is that you pay for what you can pay only</span>
                    <br>

                    <span style="top:0.5vw; position:relative">
                        for what you require,<span style="color:red"> without any monthly subscription commitment or additional charges</span>
                    </span>
                    <br>
                    <span style="top:1vw; position:relative">
                        making it a cost-effective solution for your needs.
                    </span>
                    <br>
                    <br>
                    <br>
                    <span>Our sales team will be in touch with you shortly to arrange a demo, allowing you to experience</span>
                    <br>
                    <span style="top:0.5vw; position:relative">
                        the cost-effective benefits of Anantya.ai.
                    </span>
                    <br>
                    <br>
                    <br>
                    <span>Thank you for Choosing Anantya.ai.</span>
                </div>
                <div style="width:97%;font-size:20px;font-family:Roboto ;text-align: center;margin-left:1vw;position:relative;top:12vh;background-color:#f1f5f9;height:25vh;">
                    <span style="top:1vh;position:relative">If you have any questions or need help regarding Anantya.ai? </span>
                    <br>
                    <span style="top:1.5vh;position:relative">Feel free to connect with our support team on WhatsApp. </span>
                    <br>
                    <br>
                    <span style="top:1.5vh;position:relative;font-size:14px;">Click the button to start the conversation. </span><br>
                    <a href="https://wa.link/i5f21m" style="top:5vh;border-radius:4px;position:relative;color:#fff;font-size:18px;padding: 14px 24px 14px 24px;background-color: #16a34a;text-decoration: none;"><b>Connect with us</b></a>
                </div>
                <div style="width:94%;margin-left:2vw;position:relative;top:18vh">
                    <hr>
                </div>
                <div style="width:98%;margin-left:2vw;position:relative;top:20vh; text-align: center;font-size:14px">
                <a href="https://www.linkedin.com/company/anantya-ai/" ><img src="cid:linkdinImage"  style="width:2.5vw;" /> </a>
                <a  href="https://www.instagram.com/anantya.ai/" ><img src="cid:instagramImage" style="width:2.5vw; margin-left:2vw" /></a>
                <a href="https://www.facebook.com/anantyaai"><img src="cid:facebookImage" style="width:2.5vw; margin-left:2vw" /></a>
                <a href="https://anantya.ai/"><img src="cid:websiteImage" style="width:2.5vw ;margin-left:2vw" /></a>
                    <br>
                    <span style="top:2vh;position:relative">ⓒ 2023 Anantya.ai</span>
                    <br>
                    <span style="top:2vh;position:relative">Need assistance? visit our help center.</span>
                </div>

            </div>
        </div>
    </body>

</html>