
@{
    ViewData["Title"] = @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_section pt-0">
    <!-- hero bg -->
    <!-- <div class="hero_bg"> <img src="images/hero-bg.webp
    " alt="image" > </div> -->
    <!-- container start -->
    <div class="container pt-md-5 mt-md-5 pt-0 mt-0">
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">
                <!-- banner text -->
                <div class="banner_text">
                    <span class="tagline">
                        Conversational Marketing
                    </span>
                    <h1>
                        Engage, Connect, and Convert with
                        <span>
                            Every Word.
                        </span>
                    </h1>
                    <p class="py-2">
                        Discover the art of identifying, segmenting, and marketing with ease, ensuring your message reaches
                        the right person, at the perfect time. Focus on customers likely to connect, engage, and transact.
                    </p>
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">
                            <button type="button" class=" btn px-5" data-toggle="modal" data-target="#exampleModal">
                                Request Demo
                            </button>
                        </div>
                    </form>
                </div>



                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6">
                <img src="~/image/campaign-manager.webp" class="img-fluid" alt="campaign-manager">

            </div>



        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- Banner-Section-end -->
<!-- Trusted Section start -->
<section class="row_am trusted_section pt-5  d-sm-none d-md-block d-none d-lg-block">

    <div class="container px-md-0 px-2">
        <div class="section_title" data-aos="fade-up">

            <h2>Create personalized campaigns at every step <br><span>of the customer journey.</span></h2>

        </div>



    </div>

</section>
<section class="img-tab-section px-md-0 px-2 d-sm-none d-md-block d-none d-lg-block">
    <div class="container">
        <div class="row pb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row ">
                    <div class="tab-img-section-main my-auto col-lg-6 col-md-6 col-sm-12" id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/Personalized-Campaigns-min.webp" class="img-fluid" alt="personalized">
                            </div>
                        </section>
                        <section id="tab-2" class="tab-side-img">
                            <div class="accordion-right">
                                <img src="~/image/Reports & Analytics.webp
" alt="video-img" class="img-fluid">
                            </div>
                        </section>
                        <section id="tab-3" class="tab-side-img">
                            <div class="accordion-right">
                                <img src="~/image/bannerimage3.webp
" alt="video-img" class="img-fluid">
                            </div>
                        </section>
                        <section id="tab-4" class="tab-side-img">
                            <div class="accordion-right">
                                <img src="~/image/countries.webp
" alt="video-img" class="img-fluid">
                            </div>
                        </section>
                    </div>
                    <div id="tab-links" class="accordion tab-accordian-section col-lg-6 col-md-6 col-sm-12 pt-5">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5>Automate your campaigns for greater efficiency</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Drive higher conversions and revenue
                                        by delivering personalized messages and offers to the right people at the right time.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Trigger-based interactive campaigns</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Reach a wide audience with targeted messages through broadcast campaigns, while also
                                        capitalizing on key events such as abandoned carts to trigger personalized interactions.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" href="#tab-3">
                                        <h5>Supercharge brand's loyalty</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Create a direct and impactful communication channel to keep customers
                                        engaged with personalized messages, exclusive offers, and relevant updates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5>Gain Insights and Measure Success</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Stay informed about the performance of your campaigns and measure key metrics such as leads,
                                        impressions,
                                        ad cost, and return on ad spend (ROAS) through our comprehensive Analytics dashboard.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends -->
<!-- Trusted Section start mobile view-->
<section class="row_am trusted_section pt-5 pb-4 d-none d-sm-block d-md-none  d-block">

    <div class="container px-md-0 px-2">
        <div class="section_title" data-aos="fade-up">

            <h2>Create personalized campaigns at every step <br><span>of the customer journey.</span></h2>

        </div>
    </div>
</section>

<section class="img-tab-section px-md-0 px-2 d-none d-sm-block d-md-none  d-block">
    <div class="container">
        <div class="row pb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row ">
                    <div id="tab-links" class="accordion tab-accordian-section col-lg-6 col-md-6 col-sm-12 ">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5>Automate your campaigns for greater efficiency</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Drive higher conversions and revenue
                                        by delivering personalized messages and offers to the right people at the right time.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Trigger-based interactive campaigns</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Reach a wide audience with targeted messages through broadcast campaigns, while also
                                        capitalizing on key events such as abandoned carts to trigger personalized interactions.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" href="#tab-3">
                                        <h5>Supercharge brand's loyalty</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Create a direct and impactful communication channel to keep customers
                                        engaged with personalized messages, exclusive offers, and relevant updates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5>Gain Insights and Measure Success</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Stay informed about the performance of your campaigns and measure key metrics such as leads,
                                        impressions,
                                        ad cost, and return on ad spend (ROAS) through our comprehensive Analytics dashboard.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-img-section-main my-auto col-lg-6 col-md-6 col-sm-12 pt-4" id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/Personalized-Campaigns-min.webp" class="img-fluid" alt="video-img">
                            </div>
                        </section>
                        <section id="tab-2" class="tab-side-img">
                            <div class="accordion-right">
                                <img src="~/image/Reports & Analytics.webp" alt="video-img" class="img-fluid">
                            </div>
                        </section>
                        <section id="tab-3" class="tab-side-img">
                            <div class="accordion-right">
                                <img src="~/image/bannerimage3.webp" alt="video-img" class="img-fluid">
                            </div>
                        </section>
                        <section id="tab-4" class="tab-side-img">
                            <div class="accordion-right">
                                <img src="~/image/countries.webp" alt="video-img" class="img-fluid">
                            </div>
                        </section>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends mobile view -->
<!-- card -->
<section style="background-color: #f5c11629;">
    <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <div class="container text-center py-5">


            <div class="row row-cols-2 row-cols-md-5 g-4 py-4 px-md-0 px-3">
                <div class="col my-2 px-md-3">

                    <div class="card_contact py-3 h-100 ">
                        <!-- <img src="images/icons/phone-call.webp
                        " class="card-img-top mx-auto pt-2 icons" alt="..."> -->
                        <div class="card-body ">
                            <h5 class="card-title  pt-2 font-weight-bold" style="color:#EE5639;font-size: 50px;">
                                2x
                            </h5>
                            <p class="card-text">Higher Read <br>Rates</p>
                        </div>
                    </div>
                </div>
                <div class="col  my-2 px-md-3 ">

                    <div class="card_contact  h-100">
                        <!-- <img src="images/icons/location.webp
                        " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title pt-2 font-weight-bold " style="font-size: 50px; color:#EE5639;">
                                25%
                            </h5>
                            <p class="card-text"> Higher customer satisfaction rate</p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-md-3">

                    <div class="card_contact  h-100">

                        <div class="card-body">
                            <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639;font-size: 50px;">
                                10x
                            </h5>
                            <p class="card-text ">Increase in <br> ROI</p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-md-3 ">

                    <div class="card_contact  h-100">
                        <!-- <img src="images/icons/mail.webp
                        " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                        <div class="card-body ">
                            <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639; font-size: 50px;">
                                40%
                            </h5>
                            <p class="card-text "> Increase in lead conversion rates</p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-md-3">

                    <div class="card_contact  h-100 d-sm-none d-md-block d-none d-lg-block">
                        <!-- <img src="images/icons/mail.webp
                        " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                        <div class="card-body ">
                            <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639; font-size: 50px;">
                                30x
                            </h5>
                            <p class="card-text ">Customer Transactions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
<!-- card -->
<!-- Features-Section-Start -->
<section class="py-5" id="">
    <div class="container px-md-0 px-3">
        <div class="row pt-5">
            <div class="col-md-6   col-lg-6 col-sm-12 my-auto">
                <h2><b>Enhance your marketing strategy with predictive analytics</b></h2>

                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Automate campaigns using personalized lists and segments
                            derived from clickstream data and customer behavior
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="30" height="30"> -->
                        <span>✔️&nbsp; </span>
                        Identify your high-value segments and predict customer churn, gaining insights into purchasing patterns,
                        preferences, and more <span>


                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Experience a 2.3 times increase in engagement levels,
                            resulting in higher customer interaction and satisfaction
                        </span>
                    </li>

                </ul>
                <button type="button" class="button_start  font-weight-bold text-capitalize">
                    @Html.ActionLink("Contact Us","ContactUs","Home",new{})
                </button>

            </div>
            <div class=" col-lg-6  col-md-6 col-sm-12">
                <img src="~/image/Enhance-your-marketing-strategy-min.webp" class="img-fluid" alt="whatsappmarketing">

            </div>

        </div>
    </div>


</section>

<!-- /anantya ai -->
<section class="row_am interface_section">
    <!-- container start -->
    <div class="container py-5">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

            <h2>
                From Chit-Chat to Big Impact: Our Conversational
                <br><span>Marketing Platform Delivers</span>
            </h2>

        </div>

        <div class="row pt-5">
            <div class="col-md-6 col-12 my-auto d-sm-none d-md-block d-none d-lg-block">
                <div class="styles-module_graphics_holder__c27-i styles-module_child_wrap__fxjWi">
                    <img src="~/image/long-baner.webp"
                         height="549" loading="lazy" style="width: 100%; object-fit: contain;"
                         alt="long-baner-platform">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="styles-module_content_holder__-mpu5 styles-module_child_wrap__fxjWi">
                    <div class="styles-module_cards_wrap__M2U7q">
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M23.121,9.069,15.536,1.483a5.008,5.008,0,0,0-7.072,0L.879,9.069A2.978,2.978,0,0,0,0,11.19v9.817a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V11.19A2.978,2.978,0,0,0,23.121,9.069ZM15,22.007H9V18.073a3,3,0,0,1,6,0Zm7-1a1,1,0,0,1-1,1H17V18.073a5,5,0,0,0-10,0v3.934H3a1,1,0,0,1-1-1V11.19a1.008,1.008,0,0,1,.293-.707L9.878,2.9a3.008,3.008,0,0,1,4.244,0l7.585,7.586A1.008,1.008,0,0,1,22,11.19Z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">Instant Lead Engagement</h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Immediately engage leads with automated chatbots upon sign-up.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                                        </path>
                                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Personalized Promotions
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Design and send personalized offers at scale to maximize engagement.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="52" height="52">
                                        <g id="_01_align_center" data-name="01 align center">
                                            <path d="M21,2H18V0H16V2H8V0H6V2H3A3,3,0,0,0,0,5V24H24V5A3,3,0,0,0,21,2ZM2,5A1,1,0,0,1,3,4H21a1,1,0,0,1,1,1V8H2ZM2,22V10H22V22Z">
                                            </path>
                                            <rect x="15" y="13" width="2" height="2"></rect>
                                            <rect x="11" y="13" width="2" height="2"></rect>
                                            <rect x="7" y="13" width="2" height="2"></rect>
                                            <rect x="15" y="17" width="2" height="2"></rect>
                                            <rect x="11" y="17" width="2" height="2"></rect>
                                            <rect x="7" y="17" width="2" height="2"></rect>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Alert to Abandoned Carts
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Reconnect with customers who abandon carts through personalized offers.



                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="52" height="52">
                                        <g id="_01_align_center" data-name="01 align center">
                                            <path d="M23.259,16.2l-2.6-9.371A9.321,9.321,0,0,0,2.576,7.3L.565,16.35A3,3,0,0,0,3.493,20H7.1a5,5,0,0,0,9.8,0h3.47a3,3,0,0,0,2.89-3.8ZM12,22a3,3,0,0,1-2.816-2h5.632A3,3,0,0,1,12,22Zm9.165-4.395a.993.993,0,0,1-.8.395H3.493a1,1,0,0,1-.976-1.217l2.011-9.05a7.321,7.321,0,0,1,14.2-.372l2.6,9.371A.993.993,0,0,1,21.165,17.605Z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Re-engage Prospects
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Use personalization to reignite conversations with prospects who have gone silent.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="#EE5639" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                                        <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Keep Leads in the Funnel
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Prevent lead leakage by maintaining ongoing conversations.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                                        </path>
                                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Integrate Your Tools
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg">
                                Seamlessly integrate your favorite tools, including CRM and helpdesk, for efficient workflows.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <!-- container end -->
</section>
<!-- partner -->
<div class="container px-md-0 px-4">
    <div class="section_title " data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">

        <h2>
            Drive Success Faster with Industry-Specific

            <br> <span>
                Customizable Templates
            </span>
        </h2>
    </div>
    <div class="row agent">
        <div class=" col-xl-7 col-lg-7 col-md-7 col-sm-12 text-start border-0 border-none pe-5">
            <ul class="nav nav-tabs hidden-sm nav nav-pills  justify-content-center p-0 pt-4" id="myTabs">
                <li class="nav-item ">
                    <a class="nav-link active " id="tab7" data-bs-toggle="tab" style="margin: 0.5rem;" href="#pane7">
                        <h5>Industry-Specific Pre-Made Templates</h5>
                        <p class="text-justify">
                            Tailored specifically to meet the unique needs of different sectors,
                            these templates serve as a foundation for crafting highly personalized and engaging experiences.

                        </p>
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab8" data-bs-toggle="tab" href="#pane8">
                        <h5>Customer-Centric Marketing</h5>
                        <p class="text-justify">
                            Whether it's a purchase, browse, or any other event unique to your customers,
                            use pre pre-made templates to tailor their experiences accordingly.
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab9" data-bs-toggle="tab" href="#pane9">
                        <h5>
                            Create Multi-Stage Campaigns
                        </h5>
                        <p class="text-justify">
                            Use our extensive collection of pre-built templates to plan your campaigns ahead of time.
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab10" data-bs-toggle="tab" href="#pane10">
                        <h5>
                            Customize Templates As Per Your Need
                        </h5>
                        <p class="text-justify">
                            Customize the templates to reflect your brand's unique
                            identity and messaging, ensuring a cohesive and impactful customer experience.


                        </p>
                    </a>
                </li>


            </ul>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 my-auto">



            <div class="tab-content py-5">
                <div class="tab-pane fade tab_content active show my-auto" id="pane7">
                    <img src="~/image/Industry-Specific-Pre-mode-min.webp" class="img-fluid" alt="pre-approved-customizable">




                </div>
                <div class="tab-pane fade tab_content my-auto" id="pane8">
                    <img src="~/image/Customer-Centric-Marketing-min.webp" class="img-fluid" alt="captivating">




                </div>
                <div class="tab-pane fade tab_content my-auto " id="pane9">
                    <img src="image/Create-Multi-stage-Campaigns-min.webp" class="img-fluid" alt="multilingual-support">



                </div>
                <div class="tab-pane fade tab_content my-auto " id="pane10">
                    <img src="~/image/Customize-Templates-as.webp" class="img-fluid" alt="Captivating-Communication-Formate">



                </div>


            </div>
        </div>
    </div>




</div>



<!-- How-It-Workes-Section-Start -->
<!--Frequently Asked Questions -->
<section class="container px-md-0 px-3">
    <div class="section_title py-5" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2>
            Frequently <span>Asked Questions</span>
        </h2>

    </div>
    <div id="accordion57">


        <div class="" id="CRUELTY FREE">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: What is Conversational Marketing?</h6>

                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne57"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne57" class="collapse show" aria-labelledby="CRUELTY FREE" data-parent="#accordion57">
            <div class="card-body">
                A: Conversational Marketing helps businesses guide their customers through the marketing funnel using
                personalized conversational experiences. It allows brands to establish meaningful connections with buyers,
                enhance customer retention, and foster customer loyalty. Conversational Marketing enables one-on-one
                communication that feels personalized
                and tailored to individual customers, rather than treating them as part of a larger audience.
            </div>

        </div>



    </div>
    <div id="accordion58">
        <div class="" id="SIN FRAGANCIA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: What are some examples of conversational marketing?</h6>
                <button class="btn btn-link col-1" data-toggle="collapse" data-target="#collapseOne58" aria-expanded="true"
                        aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right rotate" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne58" class="collapsing" aria-labelledby="SIN FRAGANCIA" data-parent="#accordion58">
            <div class="card-body">
                A: Conversational marketing offers various examples, including one-way campaigns or broadcasts aimed at
                specific customer segments. These campaigns
                are useful for notifying customers about new product launches, sales announcements, and newsletters.


            </div>

        </div>



    </div>
    <div id="accordion100">


        <div class="" id="SIN PROTEÍNAS">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: How can you segment data to run personalized campaigns?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne100"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne100" class="collapsing" aria-labelledby="SIN PROTEÍNAS" data-parent="#accordion100">
            <div class="card-body">
                A: Businesses can easily segment data by applying filters to select multiple customer attributes. This allows
                them to define customer segments and run targeted campaigns that are contextually relevant. The platform
                dynamically updates customer
                segments as their attributes change, ensuring that campaigns are always targeted accurately.


            </div>
        </div>



    </div>
    <div id="accordion101">


        <div class="" id="SIN COCO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: How can conversational marketing help with lead generation?

                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne101"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne101" class="collapsing" aria-labelledby="SIN COCO" data-parent="#accordion101">
            <div class="card-body">
                A: Conversational marketing provides opportunities for businesses to gather valuable information
                about potential leads. By engaging in conversations, businesses can identify customer pain points,
                understand their preferences,
                and offer relevant solutions, which can help qualify and convert leads more effectively.

            </div>
        </div>



    </div>
    <div id="accordion102">


        <div class="" id="SIN ALOE VERA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: What are the benefits of conversational marketing?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne102"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne102" class="collapsing" aria-labelledby="SIN ALOE VERA" data-parent="#accordion102">
            <div class="card-body">
                A: Conversational marketing offers several advantages, including:

                Personalization: Tailored solutions based on individual needs.
                Immediate response: Real-time engagement for quick customer satisfaction.
                Enhanced experience: Instant assistance creates a positive customer journey.
                Improved lead generation: Valuable data helps target high-quality leads.
            </div>
        </div>
   </div>
</section>

<!--Frequently Asked Questions -->
