
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0">

    <div class="container pt-md-5 mt-md-5 pt-0 mt-0">

        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">

                <div class="banner_text">
                    <span style="letter-spacing: .2rem;">Ecommerce & Retail</span>

                    <h1>
                        <span> WhatsApp</span> + Shopping = <span>
                            Perfection
                        </span>
                    </h1>
                    <strong>Transform the Shopping Experience with AI Chatbots</strong>

                    <p class="py-2">
                        Reconnect with customers by sharing exclusive product
                        updates and sales announcements. Retarget abandoned carts to recover lost sales and boost conversions.
                    </p>
                </div>

                <div class="trial_box">

                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">

                            <button type="button" class=" btn px-5" data-toggle="modal" data-target="#exampleModal">
                                Book a Free Demo
                            </button>

                        </div>

                    </form>
                </div>
                <!-- Button trigger modal -->
                <!-- Modal -->






            </div>


            <div class="col-lg-6 col-md-6">
                <img src="~/image/e-commerce.webp" class="img-fluid px-3" alt="image">

            </div>



        </div>

    </div>

</section>
<!-- Banner-Section-end -->
<!-- hover -->
<div class=" travel py-4">
    <div class="py-4">
        <div class="position-relative mb-4 hJFAtK" style="height:2rem;">
            <div class="w-100 position-absolute top-50 start-50 translate-middle ">

                <ul class=" nav nav-tabs border-0 w-100 hstack justify-content-center position-absolute  top-50 start-50 translate-middle"
                    id="skk-tabs">
                    <li class="nav-item text-center px-md-3 px-2   " role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill active"
                                style="width:3rem;height:3rem;" data-bs-toggle="tab" data-bs-target="#tab1" data-skk-value="1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">
                            Product Details
                        </p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill " style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab2" data-skk-value="2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                                <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">Discounts & Offers</p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab3" data-skk-value="3">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="25" height="25" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                                <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z" />
                                <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2">
                            Returns & Refunds
                        </p>
                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab4" data-skk-value="4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck"
                                 viewBox="0 0 16 16">
                                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg>
                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2"> Track Order</p>

                    </li>
                    <li class="nav-item text-center px-md-3 px-2" role="presentation">
                        <button type="button" class="btn btn-sm btn-secondary rounded-pill" style="width:3rem;height:3rem;"
                                data-bs-toggle="tab" data-bs-target="#tab5" data-skk-value="5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bag-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg>

                        </button>
                        <p class="d-sm-none d-md-block d-none d-lg-block pt-2"> Abandoned Carts</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" container tab-content p-4">
            <div class="tab-pane animate__animated animate__flipInX active" id="tab1">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Product-Details.webp" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto px-5 pt-md-0 pt-4">
                        <h3 class="font-italic font-weight-bold">Share Product Details</h3>
                        <p class="text-justify">
                            Reconnect and Excite Customers with Exclusive Product Updates and Sales
                            Announcements. Send Product Catalogs, their benefits, and pricing,
                            and let them start a conversation on the same channel if they want to find out more about their order
                        </p>
                    </div>

                </div>

            </div>
            <div class="tab-pane animate__animated animate__flipInX " id="tab2">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Discounts-and-Offers.webp" class="img-fluid"
                             alt="create-your-business">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto px-5 pt-md-0 pt-4">
                        <h3 class="font-italic font-weight-bold">Send Discounts and Offers</h3>
                        <p class="text-justify">
                            Promote your products using images, descriptions, and pricing information, all in one WhatsApp
                            message.
                            Engage customers with personalized promotions and special offers and make them come back for more!
                        </p>
                    </div>

                </div>
            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Returns-and-Refunds.webp" class="img-fluid"
                             alt="complete-successful">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto px-5 pt-md-0 pt-4">
                        <h3 class="font-italic font-weight-bold">Schedule Returns and Refunds </h3>
                        <p class="text-justify">
                            Ensure a seamless journey from start to finish by streamlining the customer
                            contact experience with a hassle-free and
                            efficient returns and refund process. Enable Seamless Customer Contact for Returns and Refunds.
                        </p>
                    </div>

                </div>

            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab4">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Track-Order.webp" class="img-fluid"
                             alt="relationships">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto px-5 pt-md-0 pt-4">
                        <h3 class="font-italic font-weight-bold">Track Order</h3>
                        <p class="text-justify">
                            Effortlessly monitor the track of your order from the moment it leaves our warehouse until it arrives
                            at your doorstep. No more guessing or
                            anxiously waiting for your order to arrive; with just a few clicks, you can stay informed and plan
                            accordingly.
                        </p>
                    </div>

                </div>
            </div>
            <div class="tab-pane animate__animated animate__flipInX" id="tab5">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <img src="~/image/Abandoned-Carts.webp" class="img-fluid" alt="avoid-working-on-holidays">
                    </div>
                    <div class="col-md-6 col-sm-12 my-auto px-5 pt-md-0 pt-4">
                        <h3 class="font-italic font-weight-bold">Retarget Abandoned Carts</h3>
                        <p class="text-justify">
                            Reconnect with Customers and Encourage them to Finish their Purchases. Improve
                            conversion rates by delivering instant support on WhatsApp. Guarantee FAQs still get responded to
                            immediately with no-code bots.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- hover -->
<!-- pne two three -->
<div class="container">
    <div class="row align-items-center mb-4 mt-4 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h3 class="font-weight-bold" data-splitting="">
                    <span class="highlight">WhatsApp</span> Commerce: Where Brands Meet Shoppers - Simplifying Sales
                </h3>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span><span>
                            Empower customers to explore, choose, and make purchases directly on
                            WhatsApp.
                        </span>
                    </li>
                    <li>
                        <span>✔️&nbsp; </span> <span>
                            Showcase your products in a single message, complete with compelling
                            images, detailed descriptions,
                            and pricing information.
                        </span>
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Simplify the buying process by offering a convenient, all-in-one solution for browsing and purchasing
                            products.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="~/image/Effortlessly-Manage-Sales on-WhatsApp.webp" class="img-fluid" alt="supercharge">
            </div>
        </div>
    </div>
    <!-- CARD -->
    <section>

        <div class="text-center py-5">

            <h2 class="font-weight-bold"> Convert Browsers into Buyers</h2>
            <p> Personalized Recommendations, One-on-One Chats, Instant Support!</p>
            <div class="row row-cols-1 row-cols-md-3 g-4  px-md-0 px-3 pt-4">
                <div class="col my-2 px-5">

                    <div class="card_contact marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#ee5639" class="bi bi-percent"
                             viewBox="0 0 16 16">
                            <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                        </svg>

                        <div class="card-body px-md-4 px-2">

                            <p class="card-text  text-center">
                                Offering personalized recommendations based on customer behavior
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-5">

                    <div class="card_contact  marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#ee5639"
                             class="bi bi-chat-left-text" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                        </svg>

                        <div class="card-body px-md-4 px-2">

                            <p class="card-text  text-center">
                                Engage potential customers in meaningful one-on-one conversations
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 px-5">

                    <div class="card_contact marketing pt-4 h-100">

                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#ee5639" class="bi bi-credit-card"
                             viewBox="0 0 16 16">
                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                        </svg>

                        <div class="card-body px-md-4 px-2">
                            <!-- <h5 class="card-title">Abandoned Cart Recovery
                                        </h5> -->
                            <p class="card-text text-center">
                                Save valuable time by promptly addressing FAQs for smooth shopping
                                experience.
                            </p>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </section>
    <!-- CARD -->
    <div class="row align-items-center  px-md-0 px-3 ">
        <div class="col-md-6 col-sm-12 col-12 pr-5">
            <div class="right-wrapper-img">
                <img src="~/image/Share-Product-Catalogs-at-Scale.webp" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pt-md-0 pt-4">
            <div class="left-wrapper-text">
                <h3 class="font-weight-bold data-splitting=">
                    Your Product Showcase: WhatsApp <span class="highlight"> Catalogs </span> for Mass Exposure!
                </h3>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Seamlessly send product catalogs to thousands of customers
                            who have opted in to receive updates on WhatsApp.


                        </span>
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Automate notification campaigns triggered when customers
                            abandon their carts or place orders, ensuring timely and relevant communication.
                    </li>
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Set up custom auto-replies to FAQs, welcome messages, out-of-office
                            notifications, or delay responses during work hours.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>
<!-- one two three -->
<!-- question -->
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <br><br>
            <div class="tab-content py-5" id="myTabContent">
                <!-- list id tabs 1 -->
                <div class="tab-pane  active show faq-body" id="question" role="tabpanel" aria-labelledby="home-tab"
                     style="padding:44px;box-shadow: 0px 0px 20px 6px #e0dfdf59; border-radius: 20px;">

                    <h4 class="text-primary text-center text-main">Frequently Asked Question</h4>
                    <br>
                    <div class="accordion accordion-shared accordion-shared-2" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne_0">
                                <h2 class="mb-0 text-main">
                                    <button class="btn btn-link p-0 collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseOne_0" aria-expanded="false" aria-controls="collapseOne_0">
                                        <p>
                                            <strong>
                                                Q1: How can an e-commerce business benefit from utilizing WhatsApp Business API?
                                            </strong>
                                        </p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne_0" class="collapse show" aria-labelledby="headingOne_0"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: By leveraging the WhatsApp Business API, e-commerce businesses can effectively grow
                                        and sell products online. It enables direct communication with customers, providing
                                        personalized interactions and enhancing customer engagement. This leads to increased sales,
                                        improved customer satisfaction, and expanded reach.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne_1">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapseOne_1"
                                            aria-expanded="true" aria-controls="collapseOne_1">
                                        <p>
                                            <strong>
                                                Q2: How can e-commerce businesses utilize WhatsApp Business API for marketing and
                                                sales?
                                            </strong>
                                        </p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne_1" class="collapse " aria-labelledby="headingOne_1"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: E-commerce businesses can utilize WhatsApp Business API for marketing and sales by:
                                        <ol>
                                            <li>1. Sending personalized product recommendations and promotions to customers.</li>
                                            <li>
                                                2. Sharing product catalogs, allowing customers to browse and make purchases directly on
                                                WhatsApp.
                                            </li>
                                            <li>3. Automating abandoned cart notifications to recover lost sales.</li>
                                            <li>
                                                4. Providing real-time customer support, addressing queries, and resolving issues promptly.
                                            </li>
                                            <li> 5. Sending order updates, delivery notifications, and post-purchase follow-ups.</li>




                                        </ol>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingtwo_2">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapsetwo_2"
                                            aria-expanded="true" aria-controls="collapsetwo_2">
                                        <p><strong> Q3: Is WhatsApp Business API suitable for businesses of all sizes? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsetwo_2" class="collapse " aria-labelledby="headingtwo_2"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        A: Yes, WhatsApp Business API is suitable for businesses of all sizes,
                                        ranging from small startups to large enterprises. It offers scalability,
                                        flexibility, and a range of features that can be tailored to meet the specific
                                        needs of each business. Whether you're just starting or already established,
                                        WhatsApp Business API can be an effective tool for e-commerce growth.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfour4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapsefour4"
                                            aria-expanded="true" aria-controls="collapsefour4">
                                        <p><strong> Q4: What are the Advantages of Conversational Commerce? </strong></p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapsefour4" class="collapse " aria-labelledby="headingfour4"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Conversational commerce offers numerous benefits to businesses. With Anantya.ai, businesses
                                        can:
                                        <ol>
                                            <li> 1. Expand market reach with chatbot shopping.</li>
                                            <li>2. Build direct digital connections with customers.</li>
                                            <li>3. Engage and respond in real time.</li>
                                            <li>4. Turn messaging into a sales channel.</li>
                                            <li> 5. Create consultative and conversational online commerce experiences.</li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>

</div>
<!-- question -->
<!-- cta -->

<section class="container   text-black">
    <div class=" mx-md-0 mx-4 py-5 mb-5 fluid_Box" style="border-radius: 25px; ">
        <div class="row my-auto py-4 px-md-5 px-0  mx-0">
            <div class="col-lg-8 col-md-8 col-sm-12 text-capitalize  my-auto">
                <h4 class="">Ready to Sell on WhatsApp and Watch Your D2C Business Grow Exponentially? </h4>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 my-auto text-md-right text-center mr-0">
                <button class="apply_now">              
                     @Html.ActionLink("Book a Free Demo Today","ContactUs","Home",new{})
                </button>
            </div>
        </div>
    </div>
</section>

<!-- cta -->

