
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0">

    <div class="container pt-md-5 mt-md-5 pt-0 mt-0">
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">
                <!-- banner text -->
                <div class="banner_text">
                    <span class="tagline">
                        Live Agent Assistant
                    </span>

                    <h1>

                        <span>
                            Supercharge your team's productivity with
                        </span> Anantya.ai
                    </h1>

                    <p class="py-2">
                        Say goodbye to the days of inefficient communication and hello to a new era of streamlined
                        productivity.
                        Improve your team's performance today by using Anantya.ai's features!
                    </p>
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">
                            <button type="button" class=" btn px-5" data-toggle="modal" data-target="#exampleModal">
                                Sign Up Today
                            </button>

                        </div>
                    </form>
                </div>



                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6">
                <img src="~/image/live-agent-assistant.webp" class="img-fluid" alt="live-agent-assistant">

            </div>


        </div>
        <!-- row end -->
    </div>

</section>
<!-- Banner-Section-end -->
<!-- Trusted Section start -->
<section class="row_am trusted_section py-4 d-sm-none d-md-block d-none d-lg-block">

    <div class="container">
        <div class="section_title" data-aos="fade-up">

            <h2>
                Offer exceptional customer support
                using a <br><span>unified Whatsapp Inbox</span>
            </h2>

        </div>



    </div>

</section>
<section class="img-tab-section d-sm-none d-md-block d-none d-lg-block">
    <div class="container text-center">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row">
                    <div class="tab-img-section-main my-auto col-md-6 col-sm-12" id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/offer-exceptional-customer.webp" class="img-fluid" alt="offer-exceptional-customer">
                            </div>
                        </section>

                    </div>
                    <div id="tab-links" class="accordion tab-accordian-section col-md-6 col-sm-12 pt-4 justify-content-center mx-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5> Empower Your Agents to Measure and Evaluate</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        With Anantya.ai's exclusive agent dashboards, your agents can
                                        effortlessly track the progress of their interactions, evaluate their
                                        overall key performance indicators (KPIs), and measure customer
                                        satisfaction (CSAT) in a single glance, without the need to sift
                                        through irrelevant data.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Equip Your Agents with Enhanced Features</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Empower your agents with the ability to view the number of active
                                        chats, as well as the status of chats waiting for their attention and
                                        other Agents. Access all the required information at your fingertips
                                        by using filtering tools that agents can customize to organize
                                        conversations by status, customer satisfaction scores, and dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" href="#tab-3">
                                        <h5> Delivering Exceptional Customer Support</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Our advanced technology enables your agents to focus on what
                                        truly matters - delivering exceptional customer service. By
                                        providing them with the tools to measure and reflect on their
                                        performance, they can identify areas for improvement and make
                                        data-driven decisions to enhance the customer experience.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5> Monitor Real-time analytics</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Invest in Anantya.ai's agent dashboards and equip your team with
                                        the resources they need to excel in their roles. With our
                                        user-friendly interface and comprehensive analytics, your agents
                                        can stay on top of their game and exceed customer expectations.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends -->
<!-- Trusted Section start mobile view  -->
<section class="row_am trusted_section py-md-4 py-0 d-none d-sm-block d-md-none  d-block ">

    <div class="container">
        <div class="section_title" data-aos="fade-up">

            <h2>
                Offer exceptional customer support
                using a <br><span>unified Whatsapp Inbox</span>
            </h2>

        </div>



    </div>

</section>
<section class="img-tab-section d-none d-sm-block d-md-none  d-block">
    <div class="container text-center">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row">
                    <div id="tab-links" class="accordion tab-accordian-section col-md-6 col-sm-12 pt-4 justify-content-center mx-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5> Empower Your Agents to Measure and Evaluate</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        With Anantya.ai's exclusive agent dashboards, your agents can
                                        effortlessly track the progress of their interactions, evaluate their
                                        overall key performance indicators (KPIs), and measure customer
                                        satisfaction (CSAT) in a single glance, without the need to sift
                                        through irrelevant data.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Equip Your Agents with Enhanced Features</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Empower your agents with the ability to view the number of active
                                        chats, as well as the status of chats waiting for their attention and
                                        other Agents. Access all the required information at your fingertips
                                        by using filtering tools that agents can customize to organize
                                        conversations by status, customer satisfaction scores, and dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" href="#tab-3">
                                        <h5> Delivering Exceptional Customer Support</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Our advanced technology enables your agents to focus on what
                                        truly matters - delivering exceptional customer service. By
                                        providing them with the tools to measure and reflect on their
                                        performance, they can identify areas for improvement and make
                                        data-driven decisions to enhance the customer experience.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5> Monitor Real-time analytics</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Invest in Anantya.ai's agent dashboards and equip your team with
                                        the resources they need to excel in their roles. With our
                                        user-friendly interface and comprehensive analytics, your agents
                                        can stay on top of their game and exceed customer expectations.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-img-section-main my-auto col-md-6 col-sm-12 pt-4" id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/offer-exceptional-customer.webp" class="img-fluid" alt="offer-exceptional-customer">
                            </div>
                        </section>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends mobile view -->
<!-- Features-Section-Start -->
<section class="py-md-5 py-2 px-md-0 px-3" id="">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6   col-lg-6 col-sm-12 my-auto ">
                <h2><b>Assign agents to create firm customer <span class="highlight"> relationships </span> </b></h2>
                <p class="text-justify pt-3">
                    Cultivate strong customer relationships by enabling agents to address
                    multiple queries from a single interface, leveraging intelligent routing
                    and workflows to auto-assign chats to agents with the appropriate skills and
                    bandwidth, and utilizing canned responses and auto replies to respond quickly
                    and efficiently to common inquiries.
                </p>

            </div>
            <div class=" col-lg-6  col-md-6 col-sm-12  ">
                <img src="~/image/assign-agents-to-create-firm-customer-relationships.webp" class="img-fluid"
                     alt="relationships">

            </div>
        </div>
    </div>


</section>
<!-- card -->
<section style="background-color: #f5c11629;">
    <div class="section_title pt-5 px-md-0 px-3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2> Enhance Agent Performance via <br><span>Measuring & Analyzing</span></h2>

    </div>
    <div class="container text-center pb-4">
        <div class="row row-cols-2 row-cols-md-5 g-4 pb-4 px-md-0 px-3">
            <div class="col my-2">

                <div class="card_contact pt-4 h-100 ">

                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="42"
                         height="42">
                        <path d="M23.121,9.069,15.536,1.483a5.008,5.008,0,0,0-7.072,0L.879,9.069A2.978,2.978,0,0,0,0,11.19v9.817a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V11.19A2.978,2.978,0,0,0,23.121,9.069ZM15,22.007H9V18.073a3,3,0,0,1,6,0Zm7-1a1,1,0,0,1-1,1H17V18.073a5,5,0,0,0-10,0v3.934H3a1,1,0,0,1-1-1V11.19a1.008,1.008,0,0,1,.293-.707L9.878,2.9a3.008,3.008,0,0,1,4.244,0l7.585,7.586A1.008,1.008,0,0,1,22,11.19Z">
                        </path>
                    </svg>

                    <div class="card-body">
                        <div class="card-title">
                            Track agent performance
                        </div>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact  pt-4 h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="42" height="42">
                        <g id="_01_align_center" data-name="01 align center">
                            <path d="M21,2H18V0H16V2H8V0H6V2H3A3,3,0,0,0,0,5V24H24V5A3,3,0,0,0,21,2ZM2,5A1,1,0,0,1,3,4H21a1,1,0,0,1,1,1V8H2ZM2,22V10H22V22Z">
                            </path>
                            <rect x="15" y="13" width="2" height="2"></rect>
                            <rect x="11" y="13" width="2" height="2"></rect>
                            <rect x="7" y="13" width="2" height="2"></rect>
                            <rect x="15" y="17" width="2" height="2"></rect>
                            <rect x="11" y="17" width="2" height="2"></rect>
                            <rect x="7" y="17" width="2" height="2"></rect>
                        </g>
                    </svg>
                    <div class="card-body ">
                        <div class="card-title">
                            Real-time conversation
                        </div>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact pt-4 h-100 ">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="42"
                         height="42">
                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                        </path>
                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                    </svg>
                    <div class="card-body">
                        <div class="card-title">
                            Manage traffic efficiently
                        </div>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact  pt-4 h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="42" height="42">
                        <g id="_01_align_center" data-name="01 align center">
                            <path d="M23.259,16.2l-2.6-9.371A9.321,9.321,0,0,0,2.576,7.3L.565,16.35A3,3,0,0,0,3.493,20H7.1a5,5,0,0,0,9.8,0h3.47a3,3,0,0,0,2.89-3.8ZM12,22a3,3,0,0,1-2.816-2h5.632A3,3,0,0,1,12,22Zm9.165-4.395a.993.993,0,0,1-.8.395H3.493a1,1,0,0,1-.976-1.217l2.011-9.05a7.321,7.321,0,0,1,14.2-.372l2.6,9.371A.993.993,0,0,1,21.165,17.605Z">
                            </path>
                        </g>
                    </svg>
                    <div class="card-body">
                        <div class="card-title">
                            Get Performance insights
                        </div>
                    </div>
                </div>
            </div>
            <div class="col my-2 mx-auto d-sm-none d-md-block d-none d-lg-block">

                <div class="card_contact pt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Filled" fill="#EE5639" viewBox="0 0 24 24" width="42"
                         height="42">
                        <path d="M12,.042a9.992,9.992,0,0,0-9.981,9.98c0,2.57,1.99,6.592,5.915,11.954a5.034,5.034,0,0,0,8.132,0c3.925-5.362,5.915-9.384,5.915-11.954A9.992,9.992,0,0,0,12,.042ZM12,14a4,4,0,1,1,4-4A4,4,0,0,1,12,14Z">
                        </path>
                    </svg>
                    <div class="card-body">
                        <div class="card-title">
                            Higher Customer Satisfaction
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- card -->
<!-- /anantya ai -->
<!-- partner -->
<div class="container py-md-5 py-4">
    <div class="section_title pt-3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">

        <h2>
            Deliver Exceptional Customer Experiences

            <span>
                <br>with a Unified Customer View
            </span>
        </h2>
    </div>
    <div class="row  agent">
        <div class=" col-xl-7 col-lg-7 col-md-7 col-sm-12 text-start border-0 border-none pe-5">
            <ul class="nav nav-tabs hidden-sm nav nav-pills  justify-content-center p-0 pt-4" id="myTabs">
                <li class="nav-item ">
                    <a class="nav-link active " id="tab7" data-bs-toggle="tab" style="margin: 0.5rem;" href="#pane7">
                        <h5>Context-Preserving Chatbot-to-Live Agent Transitions</h5>
                        <p class="text-justify">

                            Achieve a seamless CX by seamlessly transitioning while
                            preserving context from chatbot conversations to live agents.
                            Enhance efficiency, personalization, and customer satisfaction with our innovative solution.
                        </p>
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab8" data-bs-toggle="tab" href="#pane8">
                        <h5>Effortless Integration with Seamless Data Retrieval</h5>
                        <p class="text-justify">
                            Improve productivity and streamline workflows with our advanced AI assistant.
                            Anantya.ai's technology allows seamless data
                            retrieval from previous interactions and third-party apps, eliminating the need to switch tabs.
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab9" data-bs-toggle="tab" href="#pane9">
                        <h5>Live Agent’s Boost Engagement and Drive Action</h5>
                        <p class="text-justify">
                            By encouraging the seamless sharing of product catalogs among agents and
                            incorporating interactive buttons in
                            notifications and messages, agents can effectively drive customer engagement and prompt immediate
                            action.
                        </p>
                    </a>
                </li>


            </ul>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 my-auto">
            <div class="tab-content py-5">
                <div class="tab-pane fade tab_content active show my-auto" id="pane7">

                    <img src="~/image/context-preserving-chatbot-to-live-transitions.webp" class="img-fluid" alt="context-preserving-chatbot-to-live-transitions">


                </div>
                <div class="tab-pane fade tab_content my-auto" id="pane8">

                    <img src="~/image/effortless-integration-with-seamless-data-retrieval.webp" class="img-fluid" alt="effortless-integration-with-seamless-data-retrieval">


                </div>
                <div class="tab-pane fade tab_content my-auto " id="pane9">
                    <img src="~/image/live-agents-boost-engagement-and-drive-action.webp" class="img-fluid" alt="live-agents-boost-engagement-and-drive-action">


                </div>


            </div>
        </div>
    </div>
</div>

<!-- Beautifull-interface-Section start -->
<section class="row_am interface_section">
    <!-- container start -->
    <div class="container py-md-5 py-0 ">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

            <h2>
                Attributes to Enhance Agent
                <br><span> Experience</span>
            </h2>

        </div>

        <div class="row pt-5 text-center">
            <div class="col-md-6 col-12 my-auto d-sm-none d-md-block d-none d-lg-block">
                <div class="styles-module_graphics_holder__c27-i styles-module_child_wrap__fxjWi">
                    <img src="~/image/long-baner.webp"
                         height="549" loading="lazy" style="width: 100%; object-fit: contain;"
                         alt="long-baner">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="styles-module_content_holder__-mpu5 styles-module_child_wrap__fxjWi">
                    <div class="styles-module_cards_wrap__M2U7q">
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M23.121,9.069,15.536,1.483a5.008,5.008,0,0,0-7.072,0L.879,9.069A2.978,2.978,0,0,0,0,11.19v9.817a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V11.19A2.978,2.978,0,0,0,23.121,9.069ZM15,22.007H9V18.073a3,3,0,0,1,6,0Zm7-1a1,1,0,0,1-1,1H17V18.073a5,5,0,0,0-10,0v3.934H3a1,1,0,0,1-1-1V11.19a1.008,1.008,0,0,1,.293-.707L9.878,2.9a3.008,3.008,0,0,1,4.244,0l7.585,7.586A1.008,1.008,0,0,1,22,11.19Z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">Multi-level thesis</h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Create distinct views for
                                admins, managers, and
                                agents. Assign roles, control
                                access, and effectively
                                manage teams.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                                        </path>
                                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Standardized Templates
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Utilize highly structured
                                messaging (HSM) templates
                                to send WhatsApp
                                messages that encourage
                                action.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="52" height="52">
                                        <g id="_01_align_center" data-name="01 align center">
                                            <path d="M21,2H18V0H16V2H8V0H6V2H3A3,3,0,0,0,0,5V24H24V5A3,3,0,0,0,21,2ZM2,5A1,1,0,0,1,3,4H21a1,1,0,0,1,1,1V8H2ZM2,22V10H22V22Z">
                                            </path>
                                            <rect x="15" y="13" width="2" height="2"></rect>
                                            <rect x="11" y="13" width="2" height="2"></rect>
                                            <rect x="7" y="13" width="2" height="2"></rect>
                                            <rect x="15" y="17" width="2" height="2"></rect>
                                            <rect x="11" y="17" width="2" height="2"></rect>
                                            <rect x="7" y="17" width="2" height="2"></rect>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Pause chats &amp; nudge
                                    inactive clients
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Put conversations on pause
                                until you resolve the issue.
                                Encourage idling customers
                                to pick up the conversation
                                and settle every issue
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#EE5639" viewBox="0 0 24 24" width="52" height="52">
                                        <g id="_01_align_center" data-name="01 align center">
                                            <path d="M23.259,16.2l-2.6-9.371A9.321,9.321,0,0,0,2.576,7.3L.565,16.35A3,3,0,0,0,3.493,20H7.1a5,5,0,0,0,9.8,0h3.47a3,3,0,0,0,2.89-3.8ZM12,22a3,3,0,0,1-2.816-2h5.632A3,3,0,0,1,12,22Zm9.165-4.395a.993.993,0,0,1-.8.395H3.493a1,1,0,0,1-.976-1.217l2.011-9.05a7.321,7.321,0,0,1,14.2-.372l2.6,9.371A.993.993,0,0,1,21.165,17.605Z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Configurable APIs and
                                    integrations
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Integrate with help desk and
                                CRM platforms like
                                Leadsquared, Zendesk,
                                Freshdesk, Salesforce, and
                                Zoho,etc.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="#EE5639" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                                        <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2">
                                    Empower Managers
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Admin and managers should
                                be given more authority so
                                they can govern chats
                                without negatively impacting
                                the customer experience.
                            </p>
                        </div>
                        <div class="styles-module_card__KfejR">
                            <div class="styles-module_card_icon_wrapper__bUCRI">
                                <div class="image-wrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24" width="52"
                                         height="52">
                                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                                        </path>
                                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="styles-module_card_title_wrapper__h3Q-B" style="height:auto">
                                <h5 class="styles-module_card_title__83Jes pt-2 ">
                                    Identify chats for
                                    later use
                                </h5>
                            </div>
                            <p class="styles-module_card_para__RZvkg text-justify">
                                Mark vital conversations that
                                need attention or can be
                                consulted later to handle
                                related questions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <!-- container end -->
</section>

<!--Frequently Asked Questions -->
<section class="container px-md-0 px-3 py-5">
    <div class="section_title  pb-md-4" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2>
            Frequently <span>Asked Questions</span>
        </h2>

    </div>
    <div id="accordion57">


        <div class="" id="CRUELTY FREE">
            <div class="row px-3">
                <h6 class="mb-0 col-11">How can Anantya.ai help my team become more productive?</h6>

                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne57"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne57" class="collapse show" aria-labelledby="CRUELTY FREE" data-parent="#accordion57">
            <div class="card-body">
                Anantya.ai's features make communication easier, streamline workflows, and enhance
                collaboration, resulting in improved team productivity.
            </div>

        </div>



    </div>
    <div id="accordion58">
        <div class="" id="SIN FRAGANCIA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">How can agent dashboards benefit my team?</h6>
                <button class="btn btn-link col-1" data-toggle="collapse" data-target="#collapseOne58" aria-expanded="true"
                        aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right rotate" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne58" class="collapsing" aria-labelledby="SIN FRAGANCIA" data-parent="#accordion58">
            <div class="card-body">
                Agent dashboards help agents track their interactions, evaluate their performance,
                measure customer satisfaction, and make informed decisions to enhance the customer experience.

            </div>

        </div>



    </div>
    <div id="accordion100">


        <div class="" id="SIN PROTEÍNAS">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Can Anantya.ai smoothly transition from chatbots to live agents?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne100"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne100" class="collapsing" aria-labelledby="SIN PROTEÍNAS" data-parent="#accordion100">
            <div class="card-body">
                Yes, Anantya.ai seamlessly transitions chatbot conversations to live agents while preserving the context,
                providing a seamless customer experience and personalized assistance.
            </div>
        </div>



    </div>
    <div id="accordion101">


        <div class="" id="SIN COCO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Can important conversations be saved for future reference?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne101"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne101" class="collapsing" aria-labelledby="SIN COCO" data-parent="#accordion101">
            <div class="card-body">
                Yes, Anantya.ai allows marking vital conversations for attention or later consultation, ensuring consistent
                support and handling related questions.
            </div>
        </div>



    </div>
    <div id="accordion102">


        <div class="" id="SIN ALOE VERA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    How can Anantya.ai benefit managers?
                    campaigns?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne102"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne102" class="collapsing" aria-labelledby="SIN ALOE VERA" data-parent="#accordion102">
            <div class="card-body">

                Anantya.ai gives managers increased authority to manage chats effectively without compromising the customer
                experience, ensuring efficient team management.

            </div>

        </div>


    </div>


</section>

<!--Frequently Asked Questions -->

