
@{
    ViewData["Title"] = @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-sm-12 my-auto">
                <h2 class="font-weight-bold" style="letter-spacing: 0.5px;">Let’s Grow, Together </h2>
                <h4>Discover our Partnership Program and Connect with Anantya.ai.</h4>

                <button type="button" class="button_start  font-weight-bold text-capitalize mt-2">
                    <a href="">Become a Partner</a>
                </button>
            </div>
            <div class="col-md-6 col-sm-12 pt-md-0 pt-4">
                <img src="~/image/Partner-With-Us-Graphics.webp" class="img-fluid" alt="partner-with-us">

            </div>
        </div>
    </div>

</section>

<section>
    <div class="container text-center py-5 px-md-0 px-4">
        <h2 class="">Join the Anantya.ai Partner Program</h2>
        <p style="letter-spacing: 0.8px;">
            Partner with Anantya.ai to enhance the business value you provide to your
            customers.
        </p>


        <div class="row row-cols-1 row-cols-md-2 g-4 py-md-2 py-0 ">
            <div class="col  ">
                <div class="text-left  partner_card px-md-5 px-3 py-3 h-100">
                    <!-- <span class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#ee5639" class="bi bi-patch-check" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                      <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"></path>
                    </svg></span> -->
                    <h5>
                        Solution Partner: Sell, Implement, Customize
                    </h5>
                    <p class="text-justify">
                        Become a partner and earn ongoing commissions by selling, implementing,
                        and customizing Anantya.ai. Use your technical sales skills to impress businesses around the world.
                    </p>
                </div>
            </div>
            <div class="col  mt-md-0 mt-3">
                <div class="text-left px-md-5 px-3 partner_card py-3 h-100">
                    <!-- <span><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#EE5639" class="bi bi-gear-wide-connected" viewBox="0 0 16 16">

                      <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646.087.065-.087-.065z"></path>
                    </svg></span> -->
                    <h5>
                        Technology Partner: Integrate Anantya.ai
                    </h5>
                    <p class="text-justify">
                        Join forces with us to build and expand.
                        Boost your business success by integrating your solution with the Anantya.ai platform.
                    </p>

                </div>


            </div>


        </div>
    </div>
</section>

<section>
    <div class="container  text-center py-4 px-md-0 px-3">
        <h2>Why Choose Us as Your Partner?</h2>
        <p>
            Anantya.ai is the top-rated WhatsApp Business platform globally.
            We enable business growth through <br> our advanced customer engagement software built on WhatsApp's API.
        </p>
        <div class="row text-left">
            <div class="col-md-7 col-sm-12">
                <img src="~/image/dashboard.webp" class="img-fluid" alt="dashboard">

            </div>
            <div class="col-md-5 col-sm-12 text-left my-auto px-3 pt-md-0 pt-4">
                <div class="titles">
                    <h5 class="card-title">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                 fill="#ee5639" class="bi bi-buildings" viewBox="0 0 16 16">
                                <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z" />
                                <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z" />
                            </svg>
                        </span>&nbsp;&nbsp; Grow Your Business
                    </h5>
                    <p>
                        Take advantage of WhatsApp's popularity in developing markets to accelerate the growth of your
                        business.
                    </p>
                </div>
                <div class="titles">
                    <h5 class="card-title">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                 fill="#ee5639" class="bi bi-tools" viewBox="0 0 16 16">
                                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z">
                                </path>
                            </svg>
                        </span>&nbsp;&nbsp; Solve Customer Problems
                    </h5>


                    <p>
                        Why refer your customers to untrustworthy third parties
                        when you can add value and solve their problems as part of our ecosystem?

                    </p>
                </div>
                <div class="titles">
                    <h5 class="card-title">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                 fill="#EE5639" class="bi bi-gear-wide-connected" viewBox="0 0 16 16">

                                <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646.087.065-.087-.065z">
                                </path>
                            </svg>
                        </span>&nbsp;&nbsp; Get Rewarded for Success
                    </h5>
                    <p>
                        We believe in mutual success. When we succeed, you succeed too. Enjoy our highly rewarding commission
                        structure.
                    </p>
                </div>

            </div>
        </div>


    </div>
</section>
<section>
    <div class="container pb-5 ">
        <h2 class="text-center pb-3">Join the Anantya.ai Affiliate Program</h2>
        <div class="row row-cols-1 row-cols-md-3 text-center g-4 py-md-3 py-2 px-md-0 px-3">
            <div class="col my-2 ">

                <div class=" pt-4 h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639" class="bi bi-buildings"
                         viewBox="0 0 16 16">
                        <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z" />
                        <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z" />
                    </svg>

                    <div class="card-body px-md-4 px-3">
                        <!-- <h5 class="card-title">Grow Your Business
                        </h5> -->
                        <p class="card-text  text-center">
                            All you need to do is promote Anantya.ai as the leading WhatsApp API
                            solution using blogs, videos, tutorials, or any promotional or social channels.

                        </p>




                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class=" pt-4 h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639" class="bi bi-tools"
                         viewBox="0 0 16 16">
                        <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z">
                        </path>
                    </svg>

                    <div class="card-body px-md-4 px-3">
                        <!-- <h5 class="card-title">Solve Customer Problems
                        </h5> -->
                        <p class="card-text text-center ">

                            You don't need any technical know-how to get started. Simply embed the link in your channel
                            communications, and there is no cost associated with signing up for the affiliate program.
                        </p>




                    </div>
                </div>
            </div>
            <div class="col my-2 ">

                <div class=" pt-4 h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#EE5639"
                         class="bi bi-gear-wide-connected" viewBox="0 0 16 16">

                        <path d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434l.071-.286zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5zm0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78h4.723zM5.048 3.967c-.03.021-.058.043-.087.065l.087-.065zm-.431.355A4.984 4.984 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8 4.617 4.322zm.344 7.646.087.065-.087-.065z">
                        </path>
                    </svg>

                    <div class="card-body px-md-4 px-3">
                        <!-- <h5 class="card-title">Get Rewarded for Success</h5> -->
                        <p class="card-text text-center ">
                            Once your customers and followers complete the sign-up and payment
                            process,
                            you'll earn generous commissions for their verified conversions.

                        </p>




                    </div>
                </div>
            </div>





        </div>


    </div>
</section>
<section class="container ">
    <div class="text-black py-2 mx-md-0 mx-4 py-5" style="border-radius: 25px;
    border: 1px solid #ccc;background-color: #f5c11629; border-radius: 15px;">
        <div class="row my-auto py-md-4 py-2 px-md-0 px-0 mx-md-5 mx-0">
            <div class="col-lg-8 col-md-8 col-sm-12 text-capitalize  my-auto">
                <h2 class="font-weight-bold">
                    Partner with
                    <span class="highlight"> Anantya.ai </span> and Earn a Generous Recurring Commission.
                </h2>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 my-auto text-md-right  text-center">
                <button type="button" class="button_start font-weight-bold text-capitalize" id="openModalBtn" onclick="OpenModal(event)">
                    Become an Affiliate Partner
                </button>
                <div class="partner">
                    <div class="modal" id="myModal">
                        <div class="modal-content unique-modal">
                            <!-- Modal content goes here -->
                            <div class="d-flex">
                                <h5 class="col-10 ml-3 primary_color">Apply now to become a Partner</h5> <span class="close col-2 " onclick="CloseModal(event)" id="CloseModal">&times;</span>
                            </div>

                            <form action="~/ContactUs1/PatnerContact" method="POST">
                                <label for="inputsubject"></label>
                                <input type="text" name="Name" class="form-control" id="name" placeholder="Name*" required>

                                <label for="inputsubject"></label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Work Email id*" required>

                                <label for="phone"></label>
                                <input type="text" name="phone" class="form-control" id="phone" placeholder="Whatsapp Number*" required>
                                <label for="inputsubject"></label>
                                <input type="text" name="country" class="form-control" id="country" placeholder="Country Name" required>
                                <label for="inputsubject"></label>
                                <input type="text" name="Designation*" class="form-control" id="Designation" placeholder="Designation*"
                                       required>
                                <label for="inputsubject"></label>
                                <input type="text" name="name" class="form-control" id="company" placeholder="Company Name*" required>



                                <div class="mt-3">
                                    <input type="submit" class="px-5 py-2 login_button" value="Apply Now">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


