
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_section pt-0">

    <div class="container pt-md-5 mt-md-5 pt-0 mt-0">

        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">

                <div class="banner_text">

                    <span class="tagline">
                        Reports & Analytics
                    </span>


                    <h1>
                        Actionable Analytics for Unparalleled
                        <span>
                            Success
                        </span>
                    </h1>

                    <p class="py-2">
                        Discover how your users engage with your Intelligent Virtual
                        Assistant and gain valuable insights to enhance your key ROI metrics and improve
                        customer
                        experience.

                    </p>
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">
                            <button type="button" class=" btn px-5" data-toggle="modal"
                                    data-target="#exampleModal">
                                Sign Up Today
                            </button>

                        </div>
                    </form>
                </div>
                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6">
                <img src="~/image/reports-analytics.webp" class="img-fluid" alt="reports-analytics">

            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- Banner-Section-end -->
<!-- Trusted Section start -->
<section class="row_am trusted_section py-5 d-sm-none d-md-block d-none d-lg-block">

    <div class="container">
        <div class="section_title" data-aos="fade-up">

            <h2>Unlock Brand Insights to understand <br><span>user behavior</span></h2>

        </div>



    </div>

</section>
<section class="img-tab-section d-sm-none d-md-block d-none d-lg-block">
    <div class="container">
        <div class="row pb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row">
                    <div class="tab-img-section-main my-auto col-md-6 col-sm-12" id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/User-Behavior.webp" class="img-fluid" alt="User-Behavior">
                            </div>
                        </section>
                        <section id="tab-2" class="tab-side-img">
                            <div class="accordion-right">
                                <!-- <img src="image/Reports & Analytics.webp" alt="reports-and-analytics" class="img-fluid"> -->
                            </div>
                        </section>
                        <section id="tab-3" class="tab-side-img">
                            <div class="accordion-right">
                                <!-- <img src="image/bannerimage3.webp" alt="video-img" class="img-fluid"> -->
                            </div>
                        </section>
                        <section id="tab-4" class="tab-side-img">
                            <div class="accordion-right">
                                <!-- <img src="image/countries.webp" alt="video-img" class="img-fluid"> -->
                            </div>
                        </section>
                    </div>
                    <div id="tab-links" class="accordion tab-accordian-section col-md-6 col-sm-12">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                            aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5>Identify Bot Efficiency</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Our advanced analytics tools analyze the performance of your Intelligent
                                        Virtual Assistant,
                                        allowing you to identify areas for improvement and enhance its
                                        effectiveness
                                        in serving your customers.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Evaluate Growth Areas</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Get detailed insights into customer interactions, enabling you to
                                        identify
                                        emerging trends, pinpoint growth opportunities, and make data-driven
                                        decisions to propel your business forward
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree" href="#tab-3">
                                        <h5>Detailed User Feedback Report</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Our platform generates detailed reports based on user feedback,
                                        giving you a clear understanding of customer satisfaction levels, pain
                                        points, and areas that need attention.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5>Agent Efficiency Report</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Gain actionable insights into agent performance, response times,
                                        customer
                                        satisfaction ratings, and more. Identify areas where additional training
                                        or
                                        support is needed,
                                        streamline workflows, and ensure your agents are delivering the highest
                                        level of service to your customers.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends -->
<!-- Trusted Section start mobile view -->
<section class="row_am trusted_section pt-5 d-none d-sm-block d-md-none  d-block">

    <div class="container">
        <div class="section_title" data-aos="fade-up">

            <h2>Unlock Brand Insights to understand <br><span>user behavior</span></h2>

        </div>



    </div>

</section>
<section class="img-tab-section d-none d-sm-block d-md-none  d-block py-2 ">
    <div class="container">
        <div class="row pb-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="tabs padding-bottom padding-top row">
                    <div id="tab-links" class="accordion tab-accordian-section col-md-6 col-sm-12 px-md-0 px-3">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item  p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button active" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                            aria-expanded="false" aria-controls="collapseOne" href="#tab-1">
                                        <h5>Identify Bot Efficiency</h5>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Our advanced analytics tools analyze the performance of your Intelligent
                                        Virtual Assistant,
                                        allowing you to identify areas for improvement and enhance its
                                        effectiveness
                                        in serving your customers.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo" href="#tab-2">
                                        <h5>Evaluate Growth Areas</h5>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Get detailed insights into customer interactions, enabling you to
                                        identify
                                        emerging trends, pinpoint growth opportunities, and make data-driven
                                        decisions to propel your business forward
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree" href="#tab-3">
                                        <h5>Detailed User Feedback Report</h5>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Our platform generates detailed reports based on user feedback,
                                        giving you a clear understanding of customer satisfaction levels, pain
                                        points, and areas that need attention.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item p-3">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour" href="#tab-4">
                                        <h5>Agent Efficiency Report</h5>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body text-justify">
                                        Gain actionable insights into agent performance, response times,
                                        customer
                                        satisfaction ratings, and more. Identify areas where additional training
                                        or
                                        support is needed,
                                        streamline workflows, and ensure your agents are delivering the highest
                                        level of service to your customers.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-img-section-main my-auto col-md-6 col-sm-12 pt-md-0 pt-3"
                         id="tab-img-section-main-1">
                        <section id="tab-1" class="tab-side-img active">
                            <div class="accordion-right">
                                <img src="~/image/User-Behavior.webp" class="img-fluid" alt="User-Behavior">
                            </div>
                        </section>
                        <section id="tab-2" class="tab-side-img">
                            <div class="accordion-right">
                                <!-- <img src="image/Reports & Analytics.webp
                                " alt="video-img" class="img-fluid"> -->
                            </div>
                        </section>
                        <section id="tab-3" class="tab-side-img">
                            <div class="accordion-right">
                                <!-- <img src="image/bannerimage3.webp
                                " alt="video-img" class="img-fluid"> -->
                            </div>
                        </section>
                        <section id="tab-4" class="tab-side-img">
                            <div class="accordion-right">
                                <!-- <img src="image/countries.webp
                                " alt="video-img" class="img-fluid"> -->
                            </div>
                        </section>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- Trusted Section ends mobile view -->
<!-- card -->
<section style="background-color: #f5c11629;">
    <div class="section_title pt-5" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2 class="px-4"> Data-Driven Success: Unleashing the<br><span> Power of Analytics</span></h2>

    </div>
    <div class="container">
        <div class="industry ">
            <div class="">
                <ul id="report_slider"
                    class=" owl-carousel owl-themenav nav-tabs hidden-sm nav nav-pills mobile_scroller justify-content-center p-0 pt-3 border-0"
                    id="myTabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab16" data-bs-toggle="tab" href="#pane16">
                            <p>
                                Label <br> Report
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab17" data-bs-toggle="tab" href="#pane17">
                            <p>Chatbot <br> Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab18" data-bs-toggle="tab" href="#pane18">
                            <p>
                                Volume <br> Statistic
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab19" data-bs-toggle="tab" href="#pane19">
                            <p>Feedback <br> Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab20" data-bs-toggle="tab" href="#pane20">
                            <p>Messages <br> Statistic</p>
                        </a>
                    </li>

                </ul>



            </div>

            <div class="tab-content py-md-5 py-3">
                <div class="tab-pane fade tab_content show active py-md-0 py-3 mx-md-0" id="pane16">
                    <div class="row px-md-4 px-4 py-md-3 py-0">
                        <div class="col-md-6 col-sm-12 pr-md-5 px-0 text-center py-md-0 py-3">
                            <img src="~/image/label-report.webp" class="img-fluid" alt="label-report">
                        </div>
                        <div class="col-md-6 col-sm-12 my-auto px-md-5 px-3 border-grey-right text-left">
                            <h2 class="pb-2 font-weight-bold"> Label Report</span></h2>
                            <p class="pb-2 text-justify">
                                Effortlessly organize and categorize your chatbot data with our Label Report
                                feature. Gain insights into how different labels are used and optimize your
                                workflows for improved efficiency and effectiveness.
                            </p>

                            <button type="button" class="button_start  font-weight-bold text-capitalize">
                                <a href="contact.html">Know More</a>
                            </button>

                        </div>

                    </div>

                </div>
                <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0 " id="pane17">
                    <div class="row px-md-4 px-4 py-md-3  py-0">
                        <div class="col-md-6 col-sm-12 pr-md-5 px-0 text-center py-md-0  py-3">
                            <img src="~/image/chatbot-reports.webp" class="img-fluid " alt="chatbot-reports">
                        </div>
                        <div class="col-md-6 col-sm-12 my-auto px-md-5 px-3 border-grey-right text-left">

                            <h2 class="pb-2 font-weight-bold"> Chatbot Efficiency Report</h2>
                            <p class="pb-2 text-justify">


                                Evaluate the performance of your chatbot with the Chatbot Efficiency Report.
                                Analyze
                                metrics such as response time, user satisfaction ratings, and resolution rates
                                to
                                identify areas for improvement and ensure your chatbot is delivering optimal
                                results.
                            </p>
                            <button type="button" class="button_start  font-weight-bold text-capitalize">
                                <a href="contact.html">Know More</a>
                            </button>


                        </div>

                    </div>

                </div>
                <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0 " id="pane18">
                    <div class="row px-md-4 px-4 py-md-3  py-0">
                        <div class="col-md-6 col-sm-12 pr-md-5 px-0 text-center py-md-0  py-3">
                            <img src="~/image/Volume-statistic.webp" class="img-fluid" alt="Volume-statistic">
                        </div>
                        <div class="col-md-6 col-sm-12 my-auto px-md-5 px-3 border-grey-right text-left">
                            <h2 class="pb-2 font-weight-bold">Messages Volume statistic</h2>
                            <p class="pb-2 text-justify">
                                Track and analyze the volume of messages exchanged through your chatbot with the
                                Messages Volume Statistic feature. Understand the flow of conversations,
                                identify
                                peak times, and make data-driven decisions to optimize resources and enhance
                                user
                                experiences.

                            </p>

                            <button type="button" class="button_start  font-weight-bold text-capitalize">
                                <a href="contact.html">
                                    Know More
                                </a>
                            </button>
                        </div>

                    </div>

                </div>
                <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0 " id="pane19">
                    <div class="row px-md-4 px-4 py-md-4  py-2">
                        <div class="col-md-6 col-sm-12  pr-md-5 px-0 text-center py-md-0  py-3">
                            <img src="~/image/Feed-Report.webp" class="img-fluid" alt="Feed-Report">
                        </div>
                        <div class="col-md-6 col-sm-12 my-auto px-md-5 px-3 border-grey-right text-left">
                            <h2 class="pb-2 font-weight-bold">Feedback Report</h2>

                            <p class="pb-2 text-justify">

                                Leverage the power of the Feedback Report to gain valuable insights
                                from user feedback. Analyze sentiment, identify common pain points,
                                and address user concerns to continuously improve your chatbot and enhance
                                overall
                                customer satisfaction.
                            </p>
                            <!-- <a class="button_start fw-bold text-capitalize px-4 py-2 "
                            href="otp.html"></a> -->
                            <button type="button" class="button_start  font-weight-bold text-capitalize">
                                <a href="contact.html">Know More</a>
                            </button>

                        </div>

                    </div>

                </div>
                <div class="tab-pane fade tab_content py-md-0 py-3 mx-md-0 " id="pane20">
                    <div class="row px-md-4 px-4 py-md-4  py-2">
                        <div class="col-md-6 col-sm-12 pr-md-5 px-0 text-center py-md-0  py-3">
                            <img src="~/image/messages-statistic.webp" class="img-fluid" alt="messages-statistic">
                        </div>

                        <div class="col-md-6 col-sm-12 my-auto px-md-5 px-3 border-grey-right text-left">
                            <h2 class="pb-2 font-weight-bold">
                                Sent/received messages statistic
                            </h2>

                            <p class="pb-2 text-justify">
                                Gain visibility into the number of messages sent and received with the
                                Sent/Received
                                Messages Statistic feature. Track conversation trends, monitor engagement
                                levels,
                                and make data-informed adjustments to optimize communication and deliver
                                exceptional
                                user experiences.
                            </p>

                            <button type="button" class="button_start  font-weight-bold text-capitalize">
                                <a href="contact.html">Know More</a>
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


</section>
<!-- card -->
<!-- Features-Section-Start -->
<section class="py-5 px-md-0 px-3" id="">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6   col-lg-6 col-sm-12 my-auto">
                <h2><b>Understand User Behavior and Optimize Business Strategies</b></h2>

                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Gain Deeper Insights: Understand user behavior,
                            preferences,
                            and trends to enhance customer experiences.
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="30" height="30"> -->
                        <span>✔️&nbsp; </span> <span>
                            Slice and Dice Conversational Data: Explore and analyze data to uncover valuable
                            insights into user behavior.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Understand User Behavior: Dive deep into user behavior patterns to refine strategies
                            and
                            improve satisfaction.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Export to BI Tools: Seamlessly integrate brand insights into Tableau and Power BI
                            for
                            enhanced decision-making.
                        </span>
                    </li>
                    <li>

                    </li>
                </ul>
                <button type="button" class="button_start  font-weight-bold text-capitalize">
                    <a href="contact.html">Know More</a>
                </button>

            </div>
            <div class=" col-lg-6  col-md-6 col-sm-12">
                <img src="~/image/Understand-User-Behavior.webp" class="img-fluid" alt="Understand-User-Behavior">

            </div>

        </div>
    </div>


</section>
<!-- /anantya ai -->
<!-- partner -->
<div class="container px-md-0 px-3">
    <div class="section_title pt-4 " data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">

        <h2>
            Data-Driven Insights: Enhance Business Success

            <br> <span>
                with Actionable Reports
            </span>
        </h2>
    </div>
    <div class="row agent">
        <div class=" col-xl-7 col-lg-7 col-md-7 col-sm-12 text-start border-0 border-none pe-5">
            <ul class="nav nav-tabs hidden-sm nav nav-pills  justify-content-center p-0 pt-4" id="myTabs">
                <li class="nav-item ">
                    <a class="nav-link active " id="tab7" data-bs-toggle="tab" style="margin: 0.5rem;"
                       href="#pane7">
                        <h5>Feedback Reports for Actionable Insights</h5>
                        <p class="text-justify">
                            Get valuable information from feedback reports to improve your business.
                            Understand what your customers like, address their concerns, and make informed
                            decisions
                            based on their feedback.

                        </p>
                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" id="tab8" data-bs-toggle="tab" href="#pane8">
                        <h5>Organize and Categorize with Label Report</h5>
                        <p class="text-justify">
                            Efficiently manage your data by using label reports.
                            Easily sort and categorize information to stay organized and find what you need
                            quickly.
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab9" data-bs-toggle="tab" href="#pane9">
                        <h5>
                            Track, Analyze, and Optimize User Interactions
                        </h5>
                        <p class="text-justify">
                            Monitor and understand how users interact with
                            your website or app. Analyze their behavior, identify patterns, and optimize their
                            experience.
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab10" data-bs-toggle="tab" href="#pane10">
                        <h5>
                            Optimize Strategies with Comprehensive Opt-in Reports
                        </h5>
                        <p class="text-justify">
                            Stay ahead of trends by tracking opt-ins. Detailed reports on new and existing
                            opt-ins
                            provide insights into user preferences.
                            Use this data to refine your marketing strategies and target the right audience
                            effectively.
                        </p>
                    </a>
                </li>


            </ul>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 my-auto">



            <div class="tab-content py-5">
                <div class="tab-pane fade tab_content active show my-auto" id="pane7">
                    <img src="~/image/Feedback-Reports.webp" class="img-fluid" alt="Feedback-Reports">



                </div>
                <div class="tab-pane fade tab_content my-auto" id="pane8">
                    <img src="~/image/Organize-and-categorize.webp" class="img-fluid"
                         alt="Organize-and-categorize">




                </div>
                <div class="tab-pane fade tab_content my-auto " id="pane9">
                    <img src="~/image/Track-Analyze-and-Optimize-user.webp" class="img-fluid" alt="track">



                </div>
                <div class="tab-pane fade tab_content my-auto " id="pane10">
                    <img src="~/image/Optimize-Strategies-with-Comprehensive.webp" class="img-fluid"
                         alt="Optimize-Strategies">

                </div>


            </div>
        </div>
    </div>




</div>
<!-- How-It-Workes-Section-Start -->
<!--Frequently Asked Questions -->
<section class="container py-md-5 py-2 px-3">
    <div class="section_title pb-md-4 pb-2">

        <h2>
            Frequently <span>Asked Questions</span>
        </h2>

    </div>
    <div id="accordion57">


        <div class="" id="CRUELTY FREE">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: What is the purpose of the advanced analytics tools mentioned?</h6>

                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne57"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne57" class="collapse show" aria-labelledby="CRUELTY FREE" data-parent="#accordion57">
            <div class="card-body">
                A: The advanced analytics tools are designed to analyze the performance of
                your
                Intelligent Virtual Assistant.
                They help identify areas for improvement and enhance its effectiveness in serving your
                customers.
            </div>

        </div>



    </div>
    <div id="accordion58">
        <div class="" id="SIN FRAGANCIA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: How can I use the analytics tools to evaluate growth areas?</h6>
                <button class="btn btn-link col-1" data-toggle="collapse" data-target="#collapseOne58"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right rotate" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne58" class="collapsing" aria-labelledby="SIN FRAGANCIA" data-parent="#accordion58">
            <div class="card-body">
                A: The analytics tools provide detailed insights into customer interactions. By analyzing this
                data,
                you can identify emerging trends,
                pinpoint growth opportunities, and make data-driven decisions to propel your business forward.

            </div>

        </div>



    </div>
    <div id="accordion100">


        <div class="" id="SIN PROTEÍNAS">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: What insights can I gain from the agent efficiency report?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne100" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne100" class="collapsing" aria-labelledby="SIN PROTEÍNAS" data-parent="#accordion100">
            <div class="card-body">
                A: The agent efficiency report provides actionable insights into agent performance, response
                times,
                customer satisfaction ratings, and more. It helps identify areas where additional training or
                support is needed, streamline workflows,
                and ensure your agents are delivering the highest level of service to your customers.
            </div>
        </div>



    </div>
    <div id="accordion101">


        <div class="" id="SIN COCO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: Can I export the analytics data to other business intelligence tools?

                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne101" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne101" class="collapsing" aria-labelledby="SIN COCO" data-parent="#accordion101">
            <div class="card-body">

                A: Yes, you can seamlessly integrate the generated insights into popular business
                intelligence tools like Tableau and Power BI for enhanced decision-making.

            </div>
        </div>



    </div>
    <div id="accordion102">


        <div class="" id="SIN ALOE VERA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: What can I track and analyze with user interactions?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne102" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne102" class="collapsing" aria-labelledby="SIN ALOE VERA" data-parent="#accordion102">
            <div class="card-body">
                A: You can monitor and understand how users interact with your website or app. By analyzing
                their
                behavior and identifying patterns,
                you can optimize their experience and make improvements to increase user satisfaction.



            </div>

        </div>


    </div>


</section>

<!--Frequently Asked Questions -->

