
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0">
    <!-- hero bg -->
    <!-- <div class="hero_bg"> <img src="images/hero-bg.webp
    " alt="image" > </div> -->
    <!-- container start -->
    <div class="container pt-md-5 mt-md-5 pt-0 mt-0">
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">
                <!-- banner text -->
                <div class="banner_text">

                    <h1>
                        Experience the power of AI-driven <span>
                            customer support.
                        </span>
                    </h1>

                    <p class="py-2">
                        Explore our platform and see how our chatbots can revolutionize
                        your customer service operations, increase efficiency, and deliver exceptional support experiences.
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">

                            <button type="button" class=" btn px-5" data-toggle="modal" data-target="#exampleModal">
                                Book a Demo
                            </button>
                        </div>
                    </form>
                </div>



                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6">
                <img src="~/image/whatsapp-support.webp" class="img-fluid" alt="...">

            </div>



        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- Banner-Section-end -->
<!-- /anantya ai -->

<section>

    <div class="container text-center py-5">


        <div class="row row-cols-2 row-cols-md-4 g-4 py-md-5 py-0 px-md-0 px-3">
            <div class="col my-2">

                <div class="card_contact py-1 h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">

                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color:#EE5639;font-size: 50px;">
                            29%
                        </h5>
                        <p class="card-text">Faster response to customer queries</p>
                    </div>
                </div>
            </div>
            <div class="col  my-2">

                <div class="card_contact py-1 h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">

                    <div class="card-body">
                        <h5 class="card-title pt-2 font-weight-bold " style="font-size: 50px; color:#EE5639;">
                            60X
                        </h5>
                        <p class="card-text">Improvement in one time resolution</p>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact py-1 h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">

                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639;font-size: 50px;">
                            70%
                        </h5>
                        <p class="card-text">Queries resolved without any agent</p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">

                <div class="card_contact py-3 h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">
                    <!-- <img src="images/icons/mail.webp
                    " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                    <div class="card-body ">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639; font-size: 50px;">
                            18%
                        </h5>
                        <p class="card-text">Higher CSAT score</p>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
<!-- /anantya ai -->
<div class="container">
    <div class="row align-items-center mb-4 mt-4 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    Don’t Keep Your Customers <span class="highlight"> Waiting</span>
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Resolve your customers' queries effectively by offering quick solutions to
                            key questions such as order status, delivery updates, payment reminders, and more.
                        </span>
                    </li>

                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span><span>
                            Save valuable time for your customers by making help articles and FAQs
                            easily accessible with just a single click, ensuring they can find the information they need
                            effortlessly.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span><span>
                            Deliver support-related information that is clear, concise, and actionable,
                            empowering your customers to take the necessary steps for a seamless experience.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="~/image/Don’t_Keep_Your_Customers_Waiting.webp" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- CARD -->
    <section>

        <div class="container text-center py-5">


            <div class="row row-cols-1 row-cols-md-4 g-4   pb-0 px-md-0 px-2">
                <div class="col my-2">

                    <div class="card_contact support pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639" class="bi bi-gear-wide" viewBox="0 0 16 16">
                            <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z" />
                        </svg>

                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title">
                                Scale Your Automation Efforts
                            </h5>
                            <p class="card-text">
                                Efficiently handle any number of customer inquiries by automating
                                customer support,
                                empowering self-service options, and elevating the overall customer experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2">

                    <div class="card_contact support pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                            <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.812 6.812 0 0 0 1.16 8z" />
                            <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352h1.141zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324h-1.6z" />
                        </svg>
                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title">
                                Smart <br> Agent <br> Routing

                            </h5>
                            <p class="card-text ">
                                Resolve 80% of your customer queries and route complex issues to support agents <br> based on their <br>
                                workload.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2">

                    <div class="card_contact  support pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639" class="bi bi-alarm" viewBox="0 0 16 16">
                            <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
                            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z" />
                        </svg>

                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title ">
                                24/7 Customer Support
                            </h5>
                            <p class="card-text  ">
                                Be available 24x7 for your customers to resolve
                                queries and address requests and complaints to drive customer retention.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 ">

                    <div class="card_contact support  py-3 h-100">
                        <img src="~/image/chatbot.webp
" class="card-img-top pt-2 icons mx-auto" alt="...">
                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title ">
                                No Code Chatbot Templates
                            </h5>
                            <p class="card-text">
                                Save time and effort with our ready-to-use, no-code chatbot
                                templates.
                                Businesses customize the templates to fit your specific needs and brand identity.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- CARD -->

    <div class="row align-items-center my-md-3 my-0 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="~/image/Make_Customer_Support_Proactive.webp" class="img-fluid" alt="Automated-Chatbot">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pt-md-0 pt-3">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    Make Customer Support Proactive & Smart with <span class="highlight">Automated Chatbots</span>
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Anticipate your customers' pain points and proactively inform them about
                            service delays, product installation updates, and more using smart chatbots.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Reach out to customers to ensure they found answers to their queries
                            through FAQs and other resources, providing personalized support when needed.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Reduce product returns and exchanges by offering informative buying guides
                            that provide clarity to shoppers before they make a purchase decision.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row align-items-center my-5 pt-md-5 pt-0 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    Unleash Agent <span class="highlight">Superpowers</span> for Unbeatable Customer Support!
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Foster teamwork and collaboration among agents by providing a unified
                            inbox,
                            where they can collectively address complex customer issues and seek assistance from one another.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Enable seamless collaboration by allowing agents to share canned responses
                            and transfer customers to specialized teams or colleagues for in-depth support.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Boost productivity by providing real-time assistance within the unified
                            inbox, ensuring agents have the support they need to deliver exceptional customer service.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pl-md-5 pl-0">
            <div class="right-wrapper-img">
                <img src="~/image/Superpowers_for_Unbeatable_Customer_Support!.webp" class="img-fluid" alt="121">
            </div>
        </div>
    </div>
</div>

<!--Frequently Asked Questions -->
<div class="section_title  px-md-0 px-3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

    <h2>
        Frequently <span>Asked Questions</span>
    </h2>

</div>
<div class="container my-5 px-md-0 px-3">
    <div id="accordion52">


        <div class="" id="">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: What is WhatsApp for customer support?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne52"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>



            <div id="collapseOne52" class="collapse show" aria-labelledby="" data-parent="#accordion52">
                <div>
                    A: WhatsApp for customer support refers to using the popular messaging app, WhatsApp,
                    as a platform to provide assistance and support to customers. It allows businesses to
                    engage in real-time conversations, answer queries, provide information, and offer personalized
                    assistance through the app.
                </div>
            </div>
        </div>


    </div>
    <div id="accordion53">


        <div class="" id="CON COCO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: How can customers reach customer support on WhatsApp?</h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne53"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne53" class="collapsing" aria-labelledby="CON COCO" data-parent="#accordion53">
            <div class="card-body">
                A: Customers can reach customer support on WhatsApp by simply adding the business's WhatsApp number to their
                contacts and initiating a conversation. Some businesses also provide WhatsApp chat buttons on their website
                or app, making it easy for customers to start a conversation with support agents.
            </div>
        </div>



    </div>
    <div id="accordion54">


        <div class="" id="CON ALOE VERA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: Is WhatsApp for customer support available 24/7?</h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne54"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne54" class="collapsing" aria-labelledby="CON ALOE VERA" data-parent="#accordion54">
            <div class="card-body">
                A: The availability of customer support on WhatsApp depends on the business. While some
                businesses offer 24/7 support, others may have specific operating hours. It's important to check with the
                business or refer to their website for their support availability.
            </div>
        </div>



    </div>
    <div id="accordion55">


        <div class="" id="CON GLICERINA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: Can I receive automated responses on WhatsApp for customer support?</h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne55"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne55" class="collapsing" aria-labelledby="CON GLICERINA" data-parent="#accordion55">
            <div class="card-body">
                A: Some businesses use automated responses, also known as chatbots, to handle common
                queries and provide quick assistance. These automated responses can provide basic information, gather
                customer details, and direct customers to relevant resources.
            </div>

        </div>



    </div>
    <div id="accordion56">


        <div class="" id="VEGANO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Q: Can I use WhatsApp for returns, refunds, or order cancellations?</h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne56"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne56" class="collapsing" aria-labelledby="VEGANO" data-parent="#accordion56">
            <div class="card-body">
                A: WhatsApp can be used for various customer support activities, including processing
                returns, refunds, or order cancellations. Businesses may have specific guidelines and procedures for such
                requests, and customers can discuss their specific needs with support agents on WhatsApp.
            </div>
        </div>



    </div>


</div>

<!--Frequently Asked Questions -->
<!-- cta -->
<section class="mx-md-0 mx-4">
    <div class="container py-5 text-white cta">
        <div class="row my-auto mx-md-5 mx-0 py-4">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                <h3 class="fs-2 text-white "> Instant Support Just a Click Away! </h3>
                <p class="fs-5 pe-5 text-justify">

                    Experience the convenience of on-demand support whenever your Customers need it.

                </p>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 my-auto  text-md-right  text-center">
                <a href="contact.html"><button type="button" class="apply_now">Sign Up Today</button></a>

            </div>
        </div>
    </div>
</section>

