
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0">
    <!-- hero bg -->
    <!-- <div class="hero_bg"> <img src="images/hero-bg.webp
    " alt="image" > </div> -->
    <!-- container start -->
    <div class="container pt-md-5  mt-0 pt-0">
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6 col-md-12 pr-md-5 pr-3" data-aos="fade-right" data-aos-duration="1500">
                <!-- banner text -->
                <div class="banner_text">

                    <h1>
                        Supercharge Your Marketing Strategy <span>
                            With WhatsApp!
                        </span>
                    </h1>

                    <p class="py-2 text-justify">
                        Discover Limitless Possibilities To Attract New Users
                        Effortlessly. Engage
                        With Your Desired Audience Using WhatsApp Broadcasts And Timely Notifications.
                    </p>
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">
                            <button type="button" class=" btn px-5" data-toggle="modal"
                                    data-target="#exampleModal">
                                Start a Free Trial
                            </button>

                        </div>
                    </form>
                </div>



                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6">
                <img src="~/image/whatsapp-marketing.webp" class="img-fluid" alt="whatsapp-marketing">

            </div>



        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- Banner-Section-end -->
<!-- /anantya ai -->

<section>

    <div class="container text-center py-5">


        <div class="row row-cols-2 row-cols-md-4 g-4 py-md-5 py-0 px-md-0 px-3">
            <div class="col my-2">

                <div class="card_contact py-3  h-100">
                    <!-- <img src="images/icons/phone-call.webp
                    " class="card-img-top mx-auto pt-2 icons" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color:#EE5639;font-size: 50px;">
                            70%
                        </h5>
                        <p class="card-text">lower cost per lead</p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">

                <div class="card_contact py-3  h-100">
                    <!-- <img src="images/icons/location.webp
                    " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title pt-2 font-weight-bold " style="font-size: 50px; color:#EE5639;">
                            2X
                        </h5>
                        <p class="card-text">Higher Open Rates</p>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact py-3 h-100">

                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639;font-size: 50px;">
                            58%
                        </h5>
                        <p class="card-text ">Repeat rate on WhatsApp commerce</p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">

                <div class="card_contact py-3  h-100">
                    <!-- <img src="images/icons/mail.webp
                    " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                    <div class="card-body ">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639; font-size: 50px;">
                            10X
                        </h5>
                        <p class="card-text ">Faster Response Times</p>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
<!-- /anantya ai -->
<div class="container">
    <div class="row align-items-center mb-4 mt-4 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    <span class="highlight"> Supercharge</span> Your Reach and Expand Your User Base
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span><span>
                            Build stronger connections and forge valuable relationships
                            with your audience,
                            transforming
                            potential customers into loyal customers.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Send timely and relevant notifications to your prospects
                            on WhatsApp, nudging
                            them forward
                            in their buying journey and keeping them engaged.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Automate lead generation and qualification on WhatsApp,
                            gaining valuable insights
                            into your
                            customers' specific needs and streamlining the process for enhanced

                            efficiency.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="~/image/Supercharge.webp" class="img-fluid" alt="supercharge">
            </div>
        </div>
    </div>
    <!-- CARD -->
    <section>

        <div class="text-center py-5">


            <div class="row row-cols-1 row-cols-md-4 g-4  px-md-0 px-3">
                <div class="col my-2">

                    <div class="card_contact marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                        <!-- <img src="images/purchase.webp
                        " class="card-img-top mx-auto  icons" alt="Purchases"> -->
                        <div class="card-body px-md-4 px-2">
                            <h5 class="card-title">
                                Encourage Repeat Purchases
                            </h5>
                            <p class="card-text  text-center">
                                Send proactive notifications such as timely sale
                                announcements,
                                enticing discount offers, restock alerts, convenient pending
                                cart reminders to encourage repeat purchases, all without making the customer
                                visit
                                your website again.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2">

                    <div class="card_contact  marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                        </svg>
                        <!-- <img src="images/resume.webp
                        " class="card-img-top icons mx-auto" alt="resume"> -->
                        <div class="card-body px-md-4 px-2">
                            <h5 class="card-title">
                                Application Drop <br> Offs

                            </h5>
                            <p class="card-text  text-center">
                                Capture the attention of users who have dropped off from your course application
                                forms by sending them timely notifications. Utilize Smart CTA buttons in your
                                notifications to drive immediate action and increase course signups by up to 3
                                times!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2">

                    <div class="card_contact marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="#ee5639"
                             class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                            <path fill-rule="evenodd"
                                  d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                        </svg>
                        <!-- <img src="images/recovery.webp
                        " class="card-img-top  icons mx-auto" alt="Recovery"> -->
                        <div class="card-body px-md-4 px-2">
                            <h5 class="card-title">
                                Abandoned Cart Recovery
                            </h5>
                            <p class="card-text text-center">
                                Notice an abandoned cart. Send custom notifications
                                through
                                WhatsApp to remind your customers to complete their purchases and Implement your
                                WhatsApp marketing strategies effectively.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2 ">

                    <div class="card_contact marketing pt-4 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-chat-quote" viewBox="0 0 16 16">
                            <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                            <path d="M7.066 6.76A1.665 1.665 0 0 0 4 7.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 0 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 7.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 0 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z" />
                        </svg>
                        <!-- <img src="images/live-chat.webp
                        " class="card-img-top  icons mx-auto" alt="Promotional"> -->
                        <div class="card-body  px-md-4 px-2 ">
                            <h5 class="card-title ">
                                Send Promotional Broadcast Messages
                            </h5>
                            <p class="card-text text-center ">
                                Effortlessly reach your customers with
                                personalized WhatsApp
                                campaigns at scale! Deliver tailor-made offers and promotions that cater to
                                their
                                individual preferences.
                            </p>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </section>
    <!-- CARD -->
    <div class="row align-items-center  px-md-0 px-3 ">
        <div class="col-md-6 col-sm-12 col-12 pr-5">
            <div class="right-wrapper-img">
                <img src="~/image/Maximize-YourAd-Returns.webp" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pt-md-0 pt-4">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold data-splitting="">
                    Maximize Your Ad Returns with Unmatched <span class=" highlight"> Efficiency</span>
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Get personal with your audience on WhatsApp, using
                            conversational marketing
                            techniques
                            that create meaningful one-on-one interactions and lead to valuable
                            conversions.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Make the most of your ad budget on WhatsApp by providing
                            quick and accurate
                            responses
                            that grab users' attention and entice them to take action.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Easily track the performance of your WhatsApp marketing
                            campaigns with our
                            Analytics
                            dashboard. Measure important metrics like leads, impressions, ad cost, and ROAS to
                            ensure
                            you're getting the best possible results.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row align-items-center py-5  px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    Boost Lead Generation and Build <span class="highlight">Strong Relationships</span> on
                    WhatsApp
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Expand your user base right from the moment users discover
                            your brand on Google,
                            captivating social media ads, or while exploring your website or app.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Provide personalized attention and meaningful interactions
                            on WhatsApp to nurture
                            these
                            leads, guiding them through their buyer's journey and forming lasting
                            connections.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Transform these quality leads into loyal customers who not
                            only make repeat
                            purchases but
                            also become passionate advocates, spreading the word about your brand to
                            others.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pl-5">
            <div class="right-wrapper-img">
                <img src="~/image/Strong-Relationshis.webp" class="img-fluid" alt="121">
            </div>
        </div>
    </div>
</div>

<!--Frequently Asked Questions -->
<section class="container px-md-0 px-3">
    <div class="section_title pb-5" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2>
            Frequently <span>Asked Questions</span>
        </h2>

    </div>
    <div id="accordion57">


        <div class="" id="CRUELTY FREE">
            <div class="row px-3">
                <h6 class="mb-0 col-11">1. What is the WhatsApp Business API?</h6>

                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne57"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne57" class="collapse show" aria-labelledby="CRUELTY FREE" data-parent="#accordion57">
            <div class="card-body">
                WhatsApp marketing involves using the WhatsApp platform for promotional
                purposes to engage with customers and drive business growth.
            </div>

        </div>



    </div>
    <div id="accordion58">
        <div class="" id="SIN FRAGANCIA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">2. How does the WhatsApp API work and what features does it offer?</h6>
                <button class="btn btn-link col-1" data-toggle="collapse" data-target="#collapseOne58"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right rotate" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne58" class="collapsing" aria-labelledby="SIN FRAGANCIA" data-parent="#accordion58">
            <div class="card-body">
                The WhatsApp API allows businesses to integrate their systems with WhatsApp,
                enabling automated messaging, notifications, and customer interactions. It offers features like
                sending templated messages, managing contacts and groups, and accessing message delivery status.

            </div>

        </div>



    </div>
    <div id="accordion100">


        <div class="" id="SIN PROTEÍNAS">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    3. Can I send promotional messages or advertisements through WhatsApp?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne100" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne100" class="collapsing" aria-labelledby="SIN PROTEÍNAS" data-parent="#accordion100">
            <div class="card-body">
                Yes, you can send promotional messages or advertisements to customers through WhatsApp using the
                WhatsApp Business API. However, it's important to comply with WhatsApp's policies and guidelines
                regarding message types and user consent.
            </div>
        </div>



    </div>
    <div id="accordion101">


        <div class="" id="SIN COCO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    4. Can WhatsApp be automated for customer support or lead generation?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne101" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne101" class="collapsing" aria-labelledby="SIN COCO" data-parent="#accordion101">
            <div class="card-body">
                Absolutely! With the WhatsApp API, businesses can automate customer support by setting up
                chatbots or automated responses to address common queries. It can also be utilized for lead
                generation through interactive conversations and targeted messaging.
            </div>
        </div>



    </div>
    <div id="accordion102">


        <div class="" id="SIN ALOE VERA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    5. What are the guidelines and best practices for WhatsApp marketing
                    campaigns?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne102" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne102" class="collapsing" aria-labelledby="SIN ALOE VERA" data-parent="#accordion102">
            <div class="card-body">
                WhatsApp has specific guidelines to ensure a positive user experience. Best practices include
                obtaining user consent before sending messages, using relevant and valuable content,
                personalizing messages, and respecting user privacy.
            </div>

        </div>


    </div>


</section>

<!--Frequently Asked Questions -->
