
@{
    ViewData["Title"] = @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0 ">

    <!-- container start -->
    <div class="container pt-md-5 pt-0  mt-0">
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6 col-md-12 pr-4" data-aos="fade-right" data-aos-duration="1500">
                <!-- banner text -->
                <div class="banner_text">

                    <h1>
                        Convert, Close, and <br> Conquer with
                        <span>
                            Anantya.ai
                        </span>
                    </h1>

                    <p class="py-2 text-justify">
                        Supercharge Your Sales Funnel with <b>WhatsApp Commerce:</b> Generate Leads, Qualify,
                        Drive Discovery, Share Catalogs, Enable Shopping, Collect Payments, Upsell/Cross-Sell,
                        and Boost Revenue.
                    </p>
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">
                            <button type="button" class=" btn px-5" data-toggle="modal"
                                    data-target="#exampleModal">
                                Start a Free Trial
                            </button>
                        </div>
                    </form>
                </div>



                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6">
                <img src="~/image/whatsapp-commerce.webp" class="img-fluid" alt="...">
                <!-- <div class="banner_images image_box1">
                                  <span class="banner_image1"> <img class="moving_position_animatin" src="images/bannerimage1.webp
                " alt="image" > </span>
                                  <span class="banner_image2"> <img class="moving_animation" src="images/bannerimage2.webp
                " alt="image" > </span>
                              </div> -->
            </div>



        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- Banner-Section-end -->
<!-- /anantya ai -->

<section>

    <div class="container text-center py-5">


        <div class="row row-cols-2 row-cols-md-4 g-4 py-md-5 py-0 px-md-0 px-3">
            <div class="col my-2">

                <div class="card_contact py-3 commerce_card  h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">
                    <!-- <img src="images/icons/phone-call.webp
                    " class="card-img-top mx-auto pt-2 icons" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold">
                            40%
                        </h5>
                        <p class="card-text">Conversion Rates</p>
                    </div>
                </div>
            </div>
            <div class="col  my-2 ">

                <div class="card_contact py-md-3 py-1 commerce_card h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">
                    <!-- <img src="images/icons/location.webp
                    " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title pt-2 font-weight-bold">
                            2Billion+
                        </h5>
                        <p class="card-text">Monthly active users</p>
                    </div>
                </div>
            </div>
            <div class="col  my-2">

                <div class="card_contact py-3 commerce_card  h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">

                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold">
                            3X
                        </h5>
                        <p class="card-text">Reduction in response time</p>
                    </div>
                </div>
            </div>
            <div class="col  my-2">

                <div class="card_contact py-1 commerce_card  h-100"
                     style="background: linear-gradient(122.93deg, #f5c11629 4.59%, #FFFFFF 46.5%);">
                    <!-- <img src="images/icons/mail.webp
                    " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                    <div class="card-body ">
                        <h5 class="card-title  pt-2 font-weight-bold">
                            20-30%
                        </h5>
                        <p class="card-text">Increase in customer retention rates</p>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
<!-- /anantya ai -->
<div class="container">
    <div class="row align-items-center mb-4 mt-md-4 mt-0 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    Turn Browsers into <span class="highlight"> Buyers</span> with WhatsApp Commerce
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>

                        <span>✔️&nbsp; </span> <span>
                            Engage shoppers on WhatsApp with tailored recommendations
                            that perfectly match
                            their individual styles, preferences, and budgets.
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="30" height="30"> -->
                        <span>✔️&nbsp; </span> <span>

                            Convince potential customers to choose your product by having meaningful
                            one-on-one conversations and providing them with relevant options, right on
                            WhatsApp.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Save time for both customers and yourself by swiftly answering frequently asked
                            questions about products, shipping, returns, and more, all within the convenient
                            realm of WhatsApp. Enjoy a seamless shopping experience that leaves customers
                            satisfied and eager to purchase from you.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pl-4">
            <div class="right-wrapper-img">
                <img src="~/image/Turn-Browsers.webp" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- CARD -->
    <section>

        <div class="container text-center py-md-5 py-3">


            <div class="row row-cols-1 row-cols-md-4 g-4  px-md-0 px-2">
                <div class="col my-2">

                    <div class="card_contact commerce pt-4  h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-speedometer2" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                            <path fill-rule="evenodd"
                                  d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
                        </svg>

                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title ">
                                Boost Average Order Value
                            </h5>
                            <p class="card-text ">
                                Elevate the shopping experience by providing
                                personalized product
                                recommendations based on customers' browsing behavior and purchase history.
                                Discover
                                new items align with their interests, enticing them to add more to their
                                cart
                                and increase their average order value.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2">

                    <div class="card_contact commerce pt-4 pb-md-0 pb-5 h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>

                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title ">
                                Automate Product <br> Q&A

                            </h5>
                            <p class="card-text">
                                Make shopping effortless for your customers by automating the process of
                                answering
                                frequently asked questions. With instant responses to common inquiries,
                                customers
                                can find the information they need without having to contact a live agent.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2">

                    <div class="card_contact commerce pt-4 pb-md-0 pb-5  h-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>


                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title">
                                Cross- <br>selling
                            </h5>
                            <p class="card-text ">
                                Take your sales strategy to the next level by offering enticing upselling and
                                cross-selling options. Enhance the shopping experience and boost conversions by
                                suggesting complementary products that perfectly complement their chosen items.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col my-2">

                    <div class="card_contact commerce pt-4  h-100">

                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#ee5639"
                             class="bi bi-input-cursor-text" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M5 2a.5.5 0 0 1 .5-.5c.862 0 1.573.287 2.06.566.174.099.321.198.44.286.119-.088.266-.187.44-.286A4.165 4.165 0 0 1 10.5 1.5a.5.5 0 0 1 0 1c-.638 0-1.177.213-1.564.434a3.49 3.49 0 0 0-.436.294V7.5H9a.5.5 0 0 1 0 1h-.5v4.272c.1.08.248.187.436.294.387.221.926.434 1.564.434a.5.5 0 0 1 0 1 4.165 4.165 0 0 1-2.06-.566A4.561 4.561 0 0 1 8 13.65a4.561 4.561 0 0 1-.44.285 4.165 4.165 0 0 1-2.06.566.5.5 0 0 1 0-1c.638 0 1.177-.213 1.564-.434.188-.107.335-.214.436-.294V8.5H7a.5.5 0 0 1 0-1h.5V3.228a3.49 3.49 0 0 0-.436-.294A3.166 3.166 0 0 0 5.5 2.5.5.5 0 0 1 5 2z" />
                            <path d="M10 5h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-4v1h4a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-4v1zM6 5V4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v-1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4z" />
                        </svg>
                        <div class="card-body px-md-4 px-3">
                            <h5 class="card-title">
                                Product Comparison
                            </h5>
                            <p class="card-text  ">
                                Empower buyers to make well-informed decisions by enabling them to compare
                                different
                                products within the same category. By providing detailed comparisons, customers
                                can
                                easily evaluate features, benefits, and pricing, leading to confident and
                                educated
                                purchases.
                            </p>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </section>
    <!-- CARD -->
    <div class="row align-items-center mb-4 mt-4  px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12 pr-md-5 pr-0">
            <div class="right-wrapper-img">
                <img src="~/image/Effortlessly-Share-Product.webp" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 pt-md-0 pt-4">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    <span class="highlight"> Effortlessly </span> Share Product Catalogs at Scale
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Reach out to thousands of opted-in customers on WhatsApp and effortlessly send
                            them product catalogs as part of automated notification campaigns. Whether a
                            customer abandons their cart or completes an order, keep them engaged and informed.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Create personalized auto-replies on WhatsApp to address
                            frequently asked
                            questions, offer warm welcomes, share out-of-office messages, or notify customers
                            about potential delays during work hours.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Provide timely and tailored responses for exceptional
                            customer service. Drive
                            conversions, boost engagement, and streamline your communication effortlessly.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row align-items-center mb-4 pt-md-5 pt-0 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    Transform Conversations into Sales with AI-powered Commerce <span class="highlight">Chatbots</span>
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span><span>
                            Utilize Anantya’s advanced chatbot technology, powered by
                            GPT, to guide buyers
                            through their purchase journey. Experience tailored recommendations that match their
                            preferences and interests.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Seamlessly facilitate the checkout process within the chat
                            interface, allowing
                            customers to make purchases effortlessly and conveniently.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Unlock additional revenue opportunities by offering
                            contextual upsell and
                            cross-sell options post-purchase. Enhance the customer experience and encourage them
                            to explore complementary products.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="~/image/Transform-Conversation.webp" class="img-fluid" alt="121">
            </div>
        </div>
    </div>
</div>

<!--Frequently Asked Questions -->
<section class="container px-md-0 px-3">
    <div class="section_title py-5" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2>
            Frequently <span>Asked Questions</span>
        </h2>

    </div>
    <div id="accordion103">


        <div class="" id="SIN GLYCERINA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: What is WhatsApp Commerce?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne103" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne103" class="collapse show" aria-labelledby="SIN GLYCERINA"
             data-parent="#accordion103">
            <div class="card-body">
                A: WhatsApp Commerce refers to the use of the WhatsApp
                messaging platform for conducting business transactions
                and interactions. It enables businesses to connect with
                their customers, provide customer support, showcase products
                or services, and facilitate sales directly through the WhatsApp application.

            </div>
        </div>



    </div>
    <div id="accordion104">


        <div class="" id="SIN GLUTEN">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: How does WhatsApp Commerce work?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne104" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne104" class="collapsing" aria-labelledby="SIN GLUTEN" data-parent="#accordion104">
            <div class="card-body">
                A: WhatsApp Commerce allows businesses to create a verified business account on the platform.
                They can then use various features such as catalog management,
                automated messaging, and payment integration to showcase products, interact with customers, and
                facilitate transactions.

            </div>
        </div>



    </div>
    <div id="accordion105">


        <div class="" id="">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: What are the benefits of WhatsApp Commerce?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne105" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne105" class="collapsing" aria-labelledby="" data-parent="#accordion105">
            <div class="card-body">
                A: Some benefits of WhatsApp Commerce include
                <li> and personalized communication with customers.</li>
                <li> Convenient shopping experience within the WhatsApp app.</li>
                <li> Increased customer engagement and loyalty.</li>
                <li> Efficient customer support and query resolution.</li>


            </div>
        </div>



    </div>
    <div id="accordion106">


        <div class="" id="">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: What types of businesses can benefit from WhatsApp Commerce?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne106" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne106" class="collapsing" aria-labelledby="" data-parent="#accordion106">
            <div class="card-body">
                A: Businesses of various sizes and industries can benefit from WhatsApp Commerce.
                It is particularly useful for small and medium-sized enterprises (SMEs), local businesses,
                e-commerce stores, and service providers who want to engage with their customers and facilitate
                transactions through a popular messaging platform.

            </div>
        </div>



    </div>
    <div id="accordion107">


        <div class="" id="">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Q: Can I sell products or services through WhatsApp Commerce?

                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne107" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne107" class="collapsing" aria-labelledby="" data-parent="#accordion107">
            <div class="card-body">
                A: Yes, WhatsApp Commerce enables businesses to showcase and sell
                products or services directly through the platform. With features like
                catalog management and product images, businesses can display their offerings,
                provide detailed information, and receive orders from customers.




            </div>
        </div>



    </div>


</section>

<!--Frequently Asked Questions -->

