
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Banner-Section-Start -->
<section class="banner_section pt-md-4 pt-0">
    <!-- hero bg -->
    <!-- <div class="hero_bg"> <img src="images/hero-bg.webp
    " alt="image" > </div> -->
    <!-- container start -->
    <div class="container pt-md-5 pt-0 mt-md-5 mt-0">
        <!-- row start -->
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1500">
                <!-- banner text -->
                <div class="banner_text">

                    <h1>
                        WhatsApp OTP: <span>
                            Authentication at
                            Every Step
                        </span>
                    </h1>

                    <p class="py-2">
                        Boost security with WhatsApp's easy authentication. Verify user identity at
                        every
                        login step using OTPs, including registration, recovery, and integrity validation.
                    </p>
                </div>

                <div class="trial_box">
                    <!-- form -->
                    <form action="#" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">

                        <div class="form-group">
                            <button type="button" class=" btn px-5" data-toggle="modal"
                                    data-target="#exampleModal">
                                Talk to an expert
                            </button>


                        </div>
                    </form>
                </div>
                <!-- users -->

            </div>

            <!-- banner images start -->
            <div class="col-lg-6 col-md-6 pt-md-0 pt-4">
                <img src="~/image/whatsapp-authertication.webp" class="img-fluid" alt="whatsapp-authertication">

            </div>



        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- Banner-Section-end -->
<!-- /anantya ai -->

<section>

    <div class="container text-center py-5">


        <div class="row row-cols-2 row-cols-md-4 g-4  px-md-0 px-2">
            <div class="col my-2">

                <div class="card_contact py-3 h-100">
                    <!-- <img src="images/icons/phone-call.webp
                    " class="card-img-top mx-auto pt-2 icons" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color:#EE5639;font-size: 50px;">
                            85%
                        </h5>
                        <p class="card-text">Decrease in security breaches </p>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact py-3 h-100">
                    <!-- <img src="images/icons/location.webp
                    " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title pt-2 font-weight-bold " style="font-size: 50px; color:#EE5639;">
                            4.5X
                        </h5>
                        <p class="card-text">Faster account recovery process</p>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact py-3 h-100">

                    <div class="card-body">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639;font-size: 50px;">
                            45%
                        </h5>
                        <p class="card-text">Increase in user <br> trust </p>
                    </div>
                </div>
            </div>
            <div class="col my-2 ">

                <div class="card_contact py-3 h-100">
                    <!-- <img src="images/icons/mail.webp
                    " class="card-img-top pt-2 icons mx-auto" alt="..."> -->
                    <div class="card-body ">
                        <h5 class="card-title  pt-2 font-weight-bold" style="color: #EE5639; font-size: 50px;">
                            3X
                        </h5>
                        <p class="card-text">Higher user <br> satisfaction </p>
                    </div>
                </div>
            </div>






        </div>
    </div>
</section>
<!-- /anantya ai -->
<div class="container">
    <div class="row align-items-center my-md-4 my-0 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    <span class="highlight"> Enhanced Security </span> Made Simple with WhatsApp OTP
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span><span>
                            Utilize WhatsApp OTP for robust security against hacking and
                            fraud.
                            Encrypted OTPs offer enhanced defense compared to traditional SMS OTPs.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Implement seamless login with WhatsApp OTP, providing
                            customers with a convenient and secure authentication process.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="images/Anantya.ai.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Show your commitment to customer data security by
                            leveraging WhatsApp OTP.
                            Enhance customer confidence in your brand and foster long-lasting
                            relationships.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 px-3">
            <div class="right-wrapper-img">
                <img src="~/image/EnhancedSecurity.webp" class="img-fluid " alt="reports-analytics">
            </div>
        </div>
    </div>
</div>
<!-- CARD -->
<section class="my-5" style="background-color: #f5c11629;">
    <div class="section_title pt-5 aos-init aos-animate px-md-0 px-3" data-aos="fade-up" data-aos-duration="1500"
         data-aos-delay="300">

        <h2>Effective Use Cases of OTP <br><span>on WhatsApp</span></h2>

    </div>
    <div class="container text-center pt-2 ">


        <div class="row row-cols-1 row-cols-md-4 g-4 pb-5 px-md-0 px-3">
            <div class="col my-2">

                <div class="card_contact pt-4 h-100 ">
                    <!-- <img src="images/icons/verified.webp
                    " class="card-img-top w-25 mx-auto" alt="..."> -->

                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#EE5639"
                         class="bi bi-people" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
                    </svg>

                    <div class="card-body px-4">
                        <h5 class="card-title">
                            User <br> Registration
                        </h5>
                        <p>
                            Simplify user registration by leveraging WhatsApp OTP. Provide a convenient and
                            secure
                            verification process, enhancing completion rates and delivering a positive user
                            experience.
                        </p>





                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact  pt-4  h-100">

                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#EE5639"
                         class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                    </svg>
                    <div class="card-body px-4 pb-md-4 ">
                        <h5 class="card-title">
                            Password <br> Reset
                        </h5>
                        <p class="pb-md-3 pb-5">
                            Users can easily request a password reset and
                            receive an OTP on WhatsApp, saving time and getting back to using your platform or
                            app swiftly.
                        </p>




                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact pt-4  h-100">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" fill="#EE5639" viewBox="0 0 24 24"
                         width="42" height="42">
                        <path d="M24,11.247A12.012,12.012,0,1,0,12.017,24H19a5.005,5.005,0,0,0,5-5V11.247ZM22,19a3,3,0,0,1-3,3H12.017a10.041,10.041,0,0,1-7.476-3.343,9.917,9.917,0,0,1-2.476-7.814,10.043,10.043,0,0,1,8.656-8.761A10.564,10.564,0,0,1,12.021,2,9.921,9.921,0,0,1,18.4,4.3,10.041,10.041,0,0,1,22,11.342Z">
                        </path>
                        <path d="M8,9h4a1,1,0,0,0,0-2H8A1,1,0,0,0,8,9Z"></path>
                        <path d="M16,11H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                        <path d="M16,15H8a1,1,0,0,0,0,2h8a1,1,0,0,0,0-2Z"></path>
                    </svg>

                    <div class="card-body px-4 ">
                        <h5 class="card-title">
                            Transaction Verification
                        </h5>
                        <p>
                            By sending an OTP on WhatsApp, add an extra layer of security, requiring users to
                            enter the code for transaction
                            confirmation, preventing unauthorized transactions, and instilling trust.
                        </p>




                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card_contact  pt-4 h-100">

                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#EE5639"
                         class="bi bi-person-check" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                    </svg>
                    <div class="card-body px-4">
                        <h5 class="card-title">
                            Account <br> Recovery

                        </h5>
                        <p>
                            By sending an OTP on WhatsApp to verify the user's identity, facilitate the account
                            recovery process, prevent unauthorized access, and safeguard personal information.

                        </p>





                    </div>
                </div>
            </div>





        </div>
    </div>
</section>

<!-- CARD -->
<div class="container">
    <div class="row align-items-center mb-4 mt-4 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12 ">
            <div class="right-wrapper-img">
                <img src="~/image/Fingertips.webp" class="img-fluid px-3" alt="whatsapp-broadcasting">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 py-md-5 py-2">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold data-splitting">
                    Streamlined <span class=" highlight">Convenience</span> at Your Fingertips</span>
                </h2>
                <ul class=" bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            WhatsApp OTP eliminates the need for customers to switch
                            apps for OTPs, providing a seamless
                            verification process within their preferred messaging app.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Customers save time by receiving and verifying OTPs
                            without the hassle of navigating between different apps.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            By integrating OTP verification into WhatsApp, businesses
                            can maintain a seamless connection with customers, enhancing engagement and building
                            stronger relationships.
                        </span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row align-items-center my-4 py-md-5 py-2 px-md-0 px-3">
        <div class="col-md-6 col-sm-12 col-12">
            <div class="left-wrapper-text">
                <h2 class="font-weight-bold" data-splitting="">
                    <span class="highlight">WhatsApp OTP:</span> Secure Messaging with Dedicated Numbers
                </h2>
                <ul class="bullet-points mb-4 mt-4 text-justify">
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Build trust with customers by sending OTP messages on
                            WhatsApp using your dedicated number.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Enable easy two-way communication for OTP messages.
                            Customers can verify seamlessly, enhancing their overall experience.
                        </span>
                    </li>
                    <li>
                        <!-- <img src="./assets/img/point.webp
                        " alt="circle-check" width="16" height="16"> -->
                        <span>✔️&nbsp; </span> <span>
                            Ensure you have a WhatsApp phone number, choose a
                            recognizable display name, and complete verification through Facebook Business
                            Manager.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <div class="right-wrapper-img">
                <img src="~/image/WhatsApp-OTP.webp" class="img-fluid" alt="OTP">
            </div>
        </div>
    </div>
</div>

<!--Frequently Asked Questions -->
<section class="container px-md-0 px-3">
    <div class="section_title pb-5" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">

        <h2>
            Frequently <span>Asked Questions</span>
        </h2>

    </div>
    <div id="accordion57">


        <div class="" id="CRUELTY FREE">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    How can businesses use the WhatsApp Business API for authentication?
                </h6>

                <button class="btn btn-link col-1 collapsed" data-toggle="collapse" data-target="#collapseOne57"
                        aria-expanded="false" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne57" class="collapse show" aria-labelledby="CRUELTY FREE" data-parent="#accordion57">
            <div class="card-body">
                By integrating with the WhatsApp Business API, businesses can send OTP
                messages
                through WhatsApp to verify user identities and enable secure authentication processes.
            </div>

        </div>



    </div>
    <div id="accordion58">
        <div class="" id="SIN FRAGANCIA">
            <div class="row px-3">
                <h6 class="mb-0 col-11">Why should businesses use WhatsApp for authentication?</h6>
                <button class="btn btn-link col-1" data-toggle="collapse" data-target="#collapseOne58"
                        aria-expanded="true" aria-controls="collapseOne" style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right rotate" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne58" class="collapsing" aria-labelledby="SIN FRAGANCIA" data-parent="#accordion58">
            <div class="card-body">
                WhatsApp offers a convenient user experience, allowing users to receive and
                verify OTPs within
                the same app they use for communication. It also adds an extra layer of security through
                end-to-end encryption.

            </div>

        </div>



    </div>
    <div id="accordion100">


        <div class="" id="SIN PROTEÍNAS">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    How can businesses ensure a secure authentication process?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne100" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne100" class="collapsing" aria-labelledby="SIN PROTEÍNAS" data-parent="#accordion100">
            <div class="card-body">
                Businesses can ensure a secure authentication process by integrating with the WhatsApp Business
                API, following
                best practices for user consent, implementing encryption, and staying updated on WhatsApp's
                policies.
            </div>
        </div>



    </div>
    <div id="accordion101">


        <div class="" id="SIN COCO">
            <div class="row px-3">
                <h6 class="mb-0 col-11">
                    Can businesses track the delivery and status of OTP messages?
                </h6>
                <button class="btn btn-link col-1 collapsed" data-toggle="collapse"
                        data-target="#collapseOne101" aria-expanded="true" aria-controls="collapseOne"
                        style="color: black; font-weight: 500;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-down text-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z">
                        </path>
                    </svg>
                </button>
            </div>
            <hr>

        </div>

        <div id="collapseOne101" class="collapsing" aria-labelledby="SIN COCO" data-parent="#accordion101">
            <div class="card-body">
                Yes, the WhatsApp Business API provides features to track the delivery and status of OTP
                messages.
                This allows businesses to monitor delivery, confirm successful transmission, and track user
                responses.
            </div>
        </div>



    </div>



</section>

<!--Frequently Asked Questions -->
<!-- cta -->
<section class="mx-md-0 mx-4">
    <div class="container py-4 my-5 text-white cta">
        <div class="row my-auto mx-md-5 mx-0 py-5">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                <h3 class="fs-2 text-white"> Switch to WhatsApp OTP for Secure Authentication!</h3>
                <p class="fs-5 pe-5 text-justify">
                    Make user verification effortless and foolproof.
                </p>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 my-auto  text-md-right  text-center">
                <a href="contact.html"><button type="button" class="apply_now">Start Today</button></a>

            </div>
        </div>
    </div>
</section>
<!-- cta -->