
@{
    ViewData["Title"] = @ViewBag.Title;
    ViewData["Meta"] = @ViewBag.Meta;
    ViewData["Check"] = @ViewBag.Check;
    ViewData["Schema"] = @ViewBag.Schema;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background: #f5c11629;">
    <div class="container py-5 text-center">
        <h2 class="font-weight-bold">Join Anantya.ai: Create, Work Together,<br> and Empower!</h2>
        <a type="button" class="button_start  font-weight-bold text-capitalize mt-md-3 mt-2"
           href="#jobs"> View jobs </a>

    </div>

</section>

<section>
    <div class="container text-center py-5">
        <h2 class="pb-md-5 font-weight-bold"> Meet Our Team</h2>


        <div class="row row-cols-1 row-cols-md-4 g-4 py-md-5 py-0 px-md-0 px-3">
            <div class="col my-2">

                <div class="card py-3 h-100" style="border-radius: 15px;">
                    <img src="image/yashika.webp" class="card-img-top  mx-auto pt-3 team_img" alt="team-img">
                    <div class="card-body px-4">
                        <h5 class="card-title fs-4 pt-2">
                            Yashika Kothari
                        </h5>
                        <p>Global Product <br>Manager</p>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card py-3 h-100" style="border-radius: 15px;">
                    <img src="image/sumit.webp" class="card-img-top  mx-auto pt-3 team_img" alt="team-img2">
                    <div class="card-body px-4">
                        <h5 class="card-title fs-4 pt-2">
                            Sumit Nagarkar

                        </h5>
                        <p>Customer Success Manager</p>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card py-3 h-100" style="border-radius: 15px;">
                    <img src="image/nidhi.webp" class="card-img-top mx-auto pt-3 team_img" alt="team-img3">
                    <div class="card-body px-4">
                        <h5 class="card-title fs-4 pt-2">
                            Navnidhi Dolawat

                        </h5>
                        <p> Client Relationship Executive</p>
                    </div>
                </div>
            </div>
            <div class="col my-2">

                <div class="card py-3 h-100" style="border-radius: 15px;">
                    <img src="image/swarit.png" class="card-img-top  mx-auto pt-3 team_img" alt="team-img4">
                    <div class="card-body px-4">
                        <h5 class="card-title fs-4 pt-2">
                            Swarit Verma

                        </h5>
                        <p> Business Development Manager</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section id="jobs">
    <div class="container ">
        <h2 class="text-center font-weight-bold">Job Openings</h2>

        <form class=" mt-5">
            <input type="search" class="form-control" placeholder="Search job..." aria-label="Search">
        </form>
        <div class="row py-4 ">
            <div class="col-md-4 col-sm-12">
                <select class="form-select w-100 p-2" aria-label="Default select example">
                    <option selected>Location (1)</option>
                    <option value="1">india</option>
                    <option value="2">UAE</option>
                    <option value="3">SAUDI ARABIA</option>
                </select>

            </div>
            <div class="col-md-4 col-sm-12">
                <select class="form-select w-100 p-2" aria-label="Default select example">
                    <option selected>Department </option>
                    <option value="1">Engineering</option>
                    <option value="2">Marketing</option>
                    <option value="3">Sales</option>
                </select>

            </div>
            <div class="col-md-4 col-sm-12">
                <select class="form-select w-100 p-2" aria-label="Default select example">
                    <option selected>Work type </option>
                    <option value="1">Full Time</option>
                    <option value="2">Part Time</option>
                    <!-- <option value="3">Three</option> -->
                </select>

            </div>

        </div>
        <div class="">

            <ul data-ui="list" role="list" class="styles--Qqz1P ">
                <li data-ui="job" role="listitem" data-id="B29191E44A" class="styles--1vo9F text-left">
                    <a class="styles--1OnOt" href=""
                       aria-labelledby="B29191E44A_title B29191E44A_posted_on B29191E44A_department B29191E44A_location"></a>
                    <div>
                        <h5 data-ui="job-title" id="" class="text-left">
                            Affiliate Marketer
                        </h5>
                    </div><span class="styles--3brK_"></span><span data-ui="job-location"
                                                                   id="B29191E44A_location" class="styles--1_T3H ">
                        Gurgram, Haryana
                        India
                    </span><span data-ui="job-department" id="B29191E44A_department"
                                 class="">Marketing</span><span data-ui="job-type" class="styles--2Aafi"></span>
                    <button type="button" class="button_start  font-weight-bold text-capitalize"
                            data-toggle="modal" data-target="#exampleModal1">
                        Apply Now
                    </button>
                </li>




            </ul>
        </div>
        <div class="">

            <ul data-ui="list" role="list" class="styles--Qqz1P ">
                <li data-ui="job" role="listitem" data-id="B29191E44A" class="styles--1vo9F">
                    <a class="styles--1OnOt" href=""
                       aria-labelledby="B29191E44A_title B29191E44A_posted_on B29191E44A_department B29191E44A_location"></a>
                    <div>
                        <h5 data-ui="job-title" id="" class="text-left">
                            Product Support
                        </h5>
                    </div><span class="styles--3brK_"></span><span data-ui="job-location"
                                                                   id="B29191E44A_location" class="styles--1_T3H ">
                        Gurgram, Haryana
                        India
                    </span><span data-ui="job-department" id="B29191E44A_department"
                                 class="">Marketing</span><span data-ui="job-type" class="styles--2Aafi"></span>
                    <button type="button" class="button_start  font-weight-bold text-capitalize"
                            data-toggle="modal" data-target="#exampleModal1">
                        Apply Now
                    </button>
                </li>




            </ul>
        </div>
        <div class="">

            <ul data-ui="list" role="list" class="styles--Qqz1P ">
                <li data-ui="job" role="listitem" data-id="B29191E44A" class="styles--1vo9F">
                    <a class="styles--1OnOt" href=""
                       aria-labelledby="B29191E44A_title B29191E44A_posted_on B29191E44A_department B29191E44A_location"></a>
                    <div>
                        <h5 data-ui="job-title" id="" class="text-left">
                            Web Developer
                        </h5>
                    </div><span class="styles--3brK_"></span><span data-ui="job-location"
                                                                   id="B29191E44A_location" class="styles--1_T3H ">
                        Gurgram, Haryana
                        India
                    </span><span data-ui="job-department" id="B29191E44A_department"
                                 class="">Technical</span><span data-ui="job-type" class="styles--2Aafi"></span>
                    <button type="button" class="button_start  font-weight-bold text-capitalize"
                            data-toggle="modal" data-target="#exampleModal1">
                        Apply Now
                    </button>
                </li>




            </ul>
        </div>
        <div class="">

            <ul data-ui="list" role="list" class="styles--Qqz1P ">
                <li data-ui="job" role="listitem" data-id="B29191E44A" class="styles--1vo9F">
                    <a class="styles--1OnOt" href=""
                       aria-labelledby="B29191E44A_title B29191E44A_posted_on B29191E44A_department B29191E44A_location"></a>
                    <div>
                        <h5 data-ui="job-title" id="" class="text-left">
                            Product Manager
                        </h5>
                    </div><span class="styles--3brK_"></span><span data-ui="job-location"
                                                                   id="B29191E44A_location" class="styles--1_T3H ">
                        Gurgram, Haryana
                        India
                    </span><span data-ui="job-department" id="B29191E44A_department"
                                 class="">Marketing</span><span data-ui="job-type" class="styles--2Aafi"></span>
                    <button type="button" class="button_start  font-weight-bold text-capitalize"
                            data-toggle="modal" data-target="#exampleModal1">
                        Apply Now
                    </button>
                </li>




            </ul>
        </div>
        <div class="">

            <ul data-ui="list" role="list" class="styles--Qqz1P ">
                <li data-ui="job" role="listitem" data-id="B29191E44A" class="styles--1vo9F">
                    <a class="styles--1OnOt" href=""
                       aria-labelledby="B29191E44A_title B29191E44A_posted_on B29191E44A_department B29191E44A_location"></a>
                    <div>
                        <h5 data-ui="job-title" id="" class="text-left">
                            Php developer
                        </h5>
                    </div><span class="styles--3brK_"></span><span data-ui="job-location"
                                                                   id="B29191E44A_location" class="styles--1_T3H ">
                        Gurgram, Haryana
                        India
                    </span><span data-ui="job-department" id="B29191E44A_department"
                                 class="">Technical</span><span data-ui="job-type" class="styles--2Aafi"></span>
                    <button type="button" class="button_start  font-weight-bold text-capitalize"
                            data-toggle="modal" data-target="#exampleModal1">
                        Apply Now
                    </button>
                </li>
            </ul>
        </div>
        <div class="">

            <ul data-ui="list" role="list" class="styles--Qqz1P">
                <li data-ui="job" role="listitem" data-id="B29191E44A" class="styles--1vo9F">
                    <a class="styles--1OnOt" href=""
                       aria-labelledby="B29191E44A_title B29191E44A_posted_on B29191E44A_department B29191E44A_location"></a>
                    <div>
                        <h5 data-ui="job-title" id="" class="text-left">
                            Sales Executive
                        </h5>
                    </div><span class="styles--3brK_"></span><span data-ui="job-location"
                                                                   id="B29191E44A_location" class="styles--1_T3H ">
                        Gurgram, Haryana
                        India
                    </span><span data-ui="job-department" id="B29191E44A_department"
                                 class="">Marketing</span><span data-ui="job-type" class="styles--2Aafi"></span>
                    <button type="button" class="button_start  font-weight-bold text-capitalize"
                            data-toggle="modal" data-target="#exampleModal1">
                        Apply Now
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- gallery -->
<div class="container py-5 text-center px-4">
    <h2 style="letter-spacing: .5px; text-align: center;">We Believe in Team Work</h2>
    <div class="row pt-4">
        <div class="col-lg-6 col-sm-12 hidden-sm">
            <div class="styleimagehover">

                <img src="image/group.jpeg" class="img-fluid" style="border-radius: 25px;" alt="group-img">

            </div>
        </div>
        <div class="col-lg-6 col-sm-12 hidden-sm mt-md-0 mt-3">
            <div class="styleimagehover">

                <img src="image/group-2.jpeg" class="img-fluid" style="border-radius: 25px;" alt="group-img">

            </div>
        </div>
    </div>
</div>

<!-- gallery --> 

